@model FlightJobs.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "User manage";
}

<script src="~/Content/bootstrap-checkbox/dist/js/bootstrap-checkbox.min.js">

</script>

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Set your password", "SetPassword")
            }
            ]
        </dd>
        <dt>Nickname: @User.Identity.GetUserName() </dt>
        <dd>
            [
                <a href="#" id="ForceNickname">Change your Nickname</a>
            ]
        </dd>
        <dt style="margin-top:30px;" >Weight: </dt>
        <dd style="width:220px; margin-top:25px;">
            @if (Model.WeightUnit == FlightJobs.Util.DataConversion.UnitPounds)
            {
                <input id="weight-unit" type="checkbox" data-switch-always data-group-cls="btn-group-justified" data-off-active-cls="btn-primary" data-on-active-cls="btn-primary" checked>
            }
            else
            {
                <input id="weight-unit" type="checkbox" data-switch-always data-group-cls="btn-group-justified" data-off-active-cls="btn-primary" data-on-active-cls="btn-primary">
            }
        </dd>
        @*
        <dt>External logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage logins", "ManageLogins") ]
        </dd>
        
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Número de telefone:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
    </dl>
</div>


<script>
    $('#weight-unit').checkboxpicker({
        offLabel: 'Kilograms',
        onLabel: 'Pounds'
    });

    $('#weight-unit').change(function () {
        var _pounds = $("#weight-unit").is(':checked');

        $.ajax({
            url: '@Url.Action("SetWeightUnit", "Home")',
            type: "Post",
            data: { pounds: _pounds },
            success: function (result) {
            }
        });
    });


    $('#ForceNickname').click(function () {
            $.ajax({
                url: '@Url.Action("NickNameForce", "Home")',
            type: "Get",
            data: '',
            success: function (result) {
                if (result.trim() != '') {
                    $('#modalNickName').modal('show');
                    $("#nick-name-content").html(result);
                }
                else {
                    $('#modalNickName').hide();
                }
            }
        });
    });

</script>