@model FlightJobs.Models.ChallengeViewModel

@if (!string.IsNullOrEmpty(Model.Briefing))
{
    <style>
        .container-watermark {
            position: relative;
            color: black;
        }

        .watermarked {
            position: absolute;
            text-align: justify;
            font-size:small;
        }
    </style>
    <div class="modal-body">
        <div class="row my-form-content">
            <div class="col-md-6">
                <div class="container-watermark">
                    <img src="@Model.WaterMarkImg" alt="Snow" style="width:100%;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-11 column-in-center">
                        <h4 class="text-center" style="top:3%;"><b><span>Briefing</span></b></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="watermarked">@Model.Briefing</div><br />
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="modal-footer">
        <div class="row">
            @if (TempData["ShowDetails"] == null)
            {
                <div class="col-md-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

                <div class="col-lg-2">
                    @Html.ActionLink("Confirm", "Confirm", "Challenge", new object { }, new { @class = "btn btn-info pull-right" })
                </div>
            }
            else
            {
                <div class="col-md-12">
                    @if (TempData["JobsUpdated"] != null)
                    {
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" class="btn btn-default" data-dismiss="modal">Close</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    }
                </div>
            }
        </div>
    </div>
}