<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlightJobs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <!-- the main fileinput plugin file -->
    @Scripts.Render("~/bundles/fileinput")

    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                    <li>@Html.ActionLink("Airlines", "Index", "Airlines")</li>
                    <li><a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=B2GHF8WFN95JW&lc=AU&item_name=Rudolf%20Hardy%20Plutarco%20Arag%C3%A3o&currency_code=USD&bn=PP-DonationsBF%3Abtn_donateCC_LG.gif%3ANonHosted">Donation</a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="banner" style="width:100%; position: relative;">
        @{Html.RenderAction("RenderHeader", "Home");}
        <img src="~/Content/img/banner0001.jpg" style="width:100%" />
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="text-center"><p><strong> &copy; @DateTime.Now.Year - FlightJobs </strong></p></div><br />
                <div class="col-md-6" style="width:47%">
                    <p>
                        This application for X-Plane 11 simulate pilot and airliners jobs. Developed by rhpa23.
                        For use you will need to download and install the <b>FlightJobs Connector Plugin</b> (only Windows for now). <a href="" target="_blank">Click here to download the last version.</a><br><br>
                    </p>
                </div>
                <div class="col-md-1">
                    <img src="~/Content/img/FlightJobsLogo0002.png" style="width:50px; height:50px;" />
                </div>

                <div class="col-md-5 pull-right">
                    <p>FlightJobs is free. If you like it, please consider to make a donation. Donations will be spent paying the servers costs.</p>
                </div>
                
            </div>
            <div class="row">
                <div class="text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAyY18RfhIHs40f9U0mGH/ojdbn/gA7jg5DraU6G4kpOCk9GzLu0gT9YYW2RfOx1Qc7bJpmYUKWDKQQXXFP+DD8w5iR48rEWVQF5GgtR8ZI4Ildtd8Vt65PlWmdq6uHSQkbAUaYsW275CvxbkydIYoVW1L2xtvlm9yWJOvmYpA3yDELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIIzm3MS6zWDeAgYhRwY2Roe1bNbd1LJSSiKBUPWdYI45NCRCVGz/JIyYXYGmq7P4f2Q6tAZ8elKgg4AjXY9DcMVFvxlLjw8sz7OcqcgcWPPl1252ZfERmF0/5LbvLg+R26zex/npmyCIXGvq3SUJ+hdpVfCPumRDhPfGMbmTXIF2hK783+2r0dr01SxxBVidtqyOqoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTcxMjA0MTU0MzI3WjAjBgkqhkiG9w0BCQQxFgQUS0+x6+zJeNvZ5GFONZ2sx4Fxo8AwDQYJKoZIhvcNAQEBBQAEgYB4jGCW4VRKvIqOZj5AHW3qdlePLEjhK4Cu3MU98NoRnQ+eyY6wZk7GkaTgqrwvjH3sH6Fmzrjh2n0nURABgMJIDnvYZqebcM/BSQfRT6Ar85rppGGMeF1Ls+OG1M0OxuuoVh7ENpXmFInRxndOPiXIBk1RCRidy4zPs1Xucgz1xQ==-----END PKCS7-----">
                        <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
            <br /><br />

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
