@model FlightJobs.Models.CertificateViewModel

<div style="width:100%; ">
    <img src="~/Content/img/contract2.jpg" style="width:99.8%" />
</div>
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <strong>Info!</strong> @ViewBag.Message Check your @Html.ActionLink("Profile", "Index", "Profile")
    </div>
}
<hr />
<img src="@Model.Airline.Logo" style="width:70px; height:70px; position:absolute; " />
<p style="height: 40px; ">
    <div style="padding-left:100px; top:-10px">
        <h4>The @Model.Airline.Name airline require this certificates to sign the contract. Now you have @Html.DisplayFor(modelItem => @Model.Statistic.BankBalance)  to buy certificates.</h4>
    </div>
</p>

<hr />
<table class="table table-striped table-bordered table-hover">
    @foreach (var item in Model.Certificates)
    {
        <tr>
            <td>
                <img src="@item.Logo" style="width:30px; height:30px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="text-align:center;">
                @if (item.Selected)
                {
                    <span>bought</span>
                }
                else
                {
                    <a data-toggle="confirmation" data-title="Buy certificate?" href="/Airlines/Buy/@item.Id?airlineId=@Model.Airline.Id">Buy</a>
                }
            </td>
     </tr>
    }

</table>

<p style="text-align:right">
    <a class="btn btn-info  pull-right" href="/Airlines/Confirm/@Model.Airline.Id" >Confirm</a>
</p>

<div>
    @if (Request.UrlReferrer != null)
    {
        <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back to Airlines</a><br />
    }

</div>