@model IEnumerable<FlightJobs.Models.AirlineDbModel>




@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <strong>Info!</strong> @ViewBag.Message
    </div>
}

<button id="addAirline" class="btn btn-default  pull-right btn-md" style="margin:25px;">Buy your own airline for $40.000</button>
<h3><b>Available airlines to sign contract</b></h3>
<h5>Remember to allow popups in your browser settings before buy certificates.</h5>
<hr />
<div class="jumbotron">
    <div class="panel panel-default ">
        <table class="table table-striped table-bordered table-hover" style="font-size: 15px;">
            <tr>
                <th style="text-align:center;">Logo</th>
                <th style="padding-left: 20px;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th style="padding-left: 20px;">
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th style="padding-left: 20px;">
                    Required score
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="padding-left: 20px; vertical-align: middle; text-align:center;">
                        <img src="@item.Logo" style="width:50px; height:50px; " />
                    </td>
                    <td style="padding-left: 20px; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="padding-left: 20px; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td style="padding-left: 20px; vertical-align: middle;">
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td style="padding-left: 20px; vertical-align: middle; text-align:center;">
                        <img src="~/Content/img/contract_ico.jpg" title="Sign contract" style="cursor: pointer;" onclick="location.href='@Url.Action("Sign", new { id = item.Id })'" />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
<hr />

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create your own airline</h4>
            </div>

            <div id="add-airline-content"></div>
        </div>
    </div>
</div>


<script type='text/javascript'>

    $('#addAirline').click(function () {
        $.ajax({
            url: '@Url.Action("AddView", "Airlines")',
            type: "Get",
            success: function (result) {
                if (result != null && result != '') {
                    $("#add-airline-content").html(result);
                    $('#addModal').modal('show');
                }
                else {
                    location.reload();
                }
            }
        });
        return false;
    });
</script>