@model IEnumerable<FlightJobs.Models.AirlineDbModel>


<style>
    .tdLimited {
        max-width: 250px; /* Customise it accordingly */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .myList {
        font-size: small;
        padding: 5px 0px 0px 0px;
        list-style-type: none;
        height: 170px;
    }

    .myList li {
        margin: 5px 0;
    }
    .airlineCard {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        border-left: 1px solid #f8f9fa !important;
        border-right: 1px solid #f8f9fa !important;
        margin: 8px 0px 55px 1px;
        height: 240px;
    }
    .airlineCardHeader {
        border-radius: .25rem;
        border-bottom: 1px solid rgba(0,0,0,.125);
        text-align: center;
        background-color: rgba(0, 16, 58, 0.11);
        font-size: 1.75rem;
        font-weight: bold;
    }
    .tooltip {
        width:230px;
    }
</style>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <strong>Info!</strong> @ViewBag.Message
    </div>
}

@if (TempData["ExitMessage"] != null)
{
    <div class="alert alert-info">
        <strong>Info!</strong> @TempData["ExitMessage"]
    </div>
}

<div class="row" style="margin:0px 55px 5px 55px;">
    <button id="addAirline" class="btn btn-default  pull-right btn-md" style="margin:25px;">Buy your own airline for F$40.000</button>
    <h3><b>Available airlines to sign contract</b></h3>
    <h5>Remember to allow popups in your browser settings before buy certificates.</h5>
    <hr />
    <div>
        <div>
            @{
                int countAux = 0;
                foreach (var item in Model)
                {
                    countAux++;
                    if (countAux % 3 == 0 || countAux % 3 == 3)
                    {
                        countAux = 0;
                        @:<div class="row">
                        }
                        <div class="col-md-4 airlineCard">
                            <div class="row airlineCardHeader">
                                [ @Html.DisplayFor(modelItem => item.Name) ]
                            </div>
                            <div class="row">
                                <div class="col-sm-3 img-thumbnail" style="padding: 0px;width:30%; height:210px;background-color:ghostwhite;">
                                    <img src="@item.Logo" style="width:87px; margin-top:5px;" onerror="this.src='/Content/img/logo/LogoDefault.png'" />
                                </div>
                                <div class="col-md-8">
                                    <ul class="myList">
                                        <li><div data-toggle="tooltip" data-placement="right" title="@item.Description"><b> Description: </b> @FlightJobs.Helpers.HtmlHelpers.Truncate(item.Description, 50) </div></li>
                                        <li><div data-toggle="tooltip" data-placement="right" title="@item.Country"><b> Country: </b> @FlightJobs.Helpers.HtmlHelpers.Truncate(item.Country, 18) </div> </li>
                                        <li><b> Minimum score for hire: </b> @Html.DisplayFor(modelItem => item.Score) </li>
                                        <li>
                                            <b>Pilots hired: </b>
                                            <button type="button" class="btn btn-info btn-sm" onclick="viewPilotsHired(@item.Id)">
                                                <span class="glyphicon glyphicon-eye-open" title="View"></span>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            @if (item.AlowEdit)
                                            {
                                                <button id="@item.Id" type="button" class="btn btn-info btn-sm edit-airline">
                                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Sign", new { id = item.Id })'">
                                                    <span class="glyphicon glyphicon-ok-circle"></span> Join
                                                </button>
                                            }

                                        </div>
                                        @if (item.AlowExit)
                                        {
                                            <div class="col-sm-5">
                                                <button class="btn btn-danger btn-sm" data-toggle="confirmation" href="@Url.Action("Exit", new { id = item.Id })">Exit</button>
                                            </div>
                                        }
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                        if (countAux % 3 == 0 || countAux % 3 == 3)
                        {
                        @:</div>
                    }
                }
            }

        </div>
    </div>
    <hr />

    <!-- Modal -->
    <div class="modal fade" id="pilotsHiredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 700px;">

                <div id="pilots-hired-content"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 700px;">

                <div id="add-airline-content"></div>
            </div>
        </div>
    </div>

</div>
<script type='text/javascript'>

    $('#addAirline').click(function () {
        $.ajax({
            url: '@Url.Action("AddView", "Airlines")',
            type: "Get",
            success: function (result) {
                if (result != null && result != '') {
                    $("#add-airline-content").html(result);
                    $('#addModal').modal('show');
                }
                else {
                    location.reload();
                }
            }
        });
        return false;
    });

    function viewPilotsHired(Id) {
        $.ajax({
            url: '@Url.Action("PilotsHiredView", "Airlines")',
            type: "Get",
            data: { id: Id },
            success: function (result) {
                if (result != null && result != '') {
                    $("#pilots-hired-content").html(result);
                    $('#pilotsHiredModal').modal('show');
                }
                else {
                    location.reload();
                }
            }
        });
        return true;
    }

    $('.edit-airline').click(function () {
        $.ajax({
            url: '@Url.Action("EditView", "Airlines")',
            type: "Get",
            data: { id: $(this).attr('id') },
            success: function (result) {
                if (result != null && result != '') {
                    $("#add-airline-content").html(result);
                    $('#addModal').modal('show');
                }
                else {
                    location.reload();
                }
            }
        });
        return false;
    });

    $('body').confirmation({
        selector: '[data-toggle="confirmation"]',
        title: 'Exit airline?',
        trigger: 'click',
        placement: 'top',
        singleton: true,
        target: '_self',
        popout: true,

    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
