@model IEnumerable<FlightJobs.Models.AirlineDbModel>


<style>
    .tdLimited {
        max-width: 250px; /* Customise it accordingly */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .myList {
        font-size: small;
        padding: 5px 0px 0px 0px;
        list-style-type: none;
    }

    .myList li {
        margin: 5px 0;
    }
    .airlineCard {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        border-left: 1px solid #f8f9fa !important;
        border-right: 1px solid #f8f9fa !important;
        margin-top: 8px;
        height: 240px;
    }
    .airlineCardHeader {
        border-radius: .25rem;
        border-bottom: 1px solid rgba(0,0,0,.125);
        text-align: center;
        background-color: rgba(0,0,0,.03);
        font-size: 1.75rem;
    }
</style>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <strong>Info!</strong> @ViewBag.Message
    </div>
}

<button id="addAirline" class="btn btn-default  pull-right btn-md" style="margin:25px;">Buy your own airline for $40.000</button>
<h3><b>Available airlines to sign contract</b></h3>
<h5>Remember to allow popups in your browser settings before buy certificates.</h5>
<hr />
<div>
    <div>
        @{ 
            int countAux = 0;
            foreach (var item in Model)
            {
                countAux++;
                if(countAux % 2 == 0 || countAux % 2 == 2)
                {
                    countAux = 0;
                    @:<div class="row">
                }
                <div class="col-md-6 airlineCard">
                    <div class="row airlineCardHeader">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="padding-right: 0px;width:30%;">
                            <img class="img-thumbnail" src="@item.Logo" style="width:120px; margin-top:5px;" />
                        </div>
                        <div class="col-md-7">
                            <ul class="myList">
                                <li><b> Description: </b> @Html.DisplayFor(modelItem => item.Description)</li>
                                <li><b> Country: </b> @Html.DisplayFor(modelItem => item.Country) </li>
                                <li><b> Minimum score for hire: </b> @Html.DisplayFor(modelItem => item.Score) </li>
                                <li>
                                    <b>Pilots hired: </b>
                                    @if (item.OwnerUserStatistics != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.OwnerUserStatistics.AirlinePilotsHired.Count)
                                        <a href="#" data-html="True"
                                           data-toggle="popover" title="Pilots"
                                           data-trigger="hover" data-placement="bottom"
                                           data-content="@foreach (var user in item.OwnerUserStatistics.AirlinePilotsHired)
                                       {
                                           if (item.OwnerUserStatistics.User.UserName == user.UserName)
                                           {
                                        <b> @user.UserName (Owner)</b><br />
                                           }
                                           else
                                           {
                                           @user.UserName <br />
                                           }
                                       }"><span class="glyphicon glyphicon-eye-open" style="margin-left:10px;"></span></a>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-1" style="padding-top:30px; padding-left:0px;">
                            @if (item.AlowEdit)
                            {
                                <button id="@item.Id" type="button" class="btn btn-default btn-sm edit-airline">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            }
                            else
                            {
                                <img src="~/Content/img/contract_ico.jpg" title="Sign contract" style="cursor: pointer;" onclick="location.href='@Url.Action("Sign", new { id = item.Id })'" />
                            }
                        </div>
                    </div>
                </div>
                if (countAux % 2 == 0 || countAux % 2 == 2)
                {
                        @:</div>
                }
            }
        }

    </div>
</div>
<hr />

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px;">

            <div id="add-airline-content"></div>
        </div>
    </div>
</div>


<script type='text/javascript'>

    $('#addAirline').click(function () {
        $.ajax({
            url: '@Url.Action("AddView", "Airlines")',
            type: "Get",
            success: function (result) {
                if (result != null && result != '') {
                    $("#add-airline-content").html(result);
                    $('#addModal').modal('show');
                }
                else {
                    location.reload();
                }
            }
        });
        return false;
    });

    $('.edit-airline').click(function () {
        $.ajax({
            url: '@Url.Action("EditView", "Airlines")',
            type: "Get",
            data: { id: $(this).attr('id') },
            success: function (result) {
                if (result != null && result != '') {
                    $("#add-airline-content").html(result);
                    $('#addModal').modal('show');
                }
                else {
                    location.reload();
                }
            }
        });
        return false;
    });
</script>