@model IEnumerable<FlightJobs.Models.SearchJobTipsViewModel>

<link href="~/Content/TipsTable.css" rel="stylesheet" />


<div class="card" style="width:325px;">
    @if (Model.Count() > 0)
    {
        <table class="table table-sm table-condensed table-bordered table-hover" style="padding:0px">
            <thead>
                <tr>
                    <th class="icaoCol">
                        @Html.DisplayNameFor(model => model.AirportICAO)
                    </th>
                    <th class="nameCol">
                        @Html.DisplayNameFor(model => model.AirportName)
                    </th>
                    <th class="distCol">
                        @Html.DisplayNameFor(model => model.Distance)
                    </th>
                    <th class="sizeCol">
                        @Html.DisplayNameFor(model => model.AirportRunwaySize)
                    </th>
                    <th class="elevCol">
                        @Html.DisplayNameFor(model => model.AirportElevation)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="cursor:pointer;">
                        <td class="icaoCol">
                            @Html.DisplayFor(modelItem => item.AirportICAO)
                        </td>
                        <td class="nameCol">
                            @Html.DisplayFor(modelItem => item.AirportName)
                        </td>
                        <td class="distCol">
                            @Html.DisplayFor(modelItem => item.Distance) NM
                        </td>
                        <td class="sizeCol">
                            @Html.DisplayFor(modelItem => item.AirportRunwaySize) ft
                        </td>
                        <td class="elevCol">
                            @Html.DisplayFor(modelItem => item.AirportElevation) ft
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    }
    else
    {
        <h3>No alternatives found for this destination.</h3>
    }
    <div class="row" style="margin-right:0px;">
        <div class="col-md-6" style="padding-right:2px; ">
            <label class="control-label pull-right">Range:</label>
        </div>
        <div class="col-md-2" style="padding-left:5px;">
            @if (TempData["RangeValue"] == null)
            {
                <input id="alternative-tips-range" type="number" value="40" min="10" max="250" required="required" style="width:50px; " />
            }
            else
            {
                <input id="alternative-tips-range" type="number" value="@TempData["RangeValue"]" min="10" max="250" required="required" style="width:50px; " />
            }
        </div>
        <div class="col-md-4">
            <input id="alternative-tips-update" type="button" value="Update" class="btn btn-info btn-xs pull-right" />
        </div>
    </div>
</div>

<script type='text/javascript'>

    $(document).ready(function () {
        $('table tr').click(function (event) {
            var value = $(this).closest('tr').children('td:first').text();
            $('#Alternative').val(value.trim());
            $("#alternative-tips-table").hide(500);
            LoadMapInfo();
        });
    });

    $('#alternative-tips-update').click(function () {
        $.ajax({
            url: '@Url.Action("AlternativeTips", "SearchJobs")',
            type: "Get",
            data: { destination: $('#Arrival').val(), range: $('#alternative-tips-range').val() },
            success: function (result) {
                if (result != null && result != '') {
                    $("#alternative-tips-table").html(result);
                }
            }
        });
        return false;

    });

</script>