@model IEnumerable<FlightJobs.Models.SearchJobTipsViewModel>

<link href="~/Content/TipsTable.css" rel="stylesheet" />

<div class="card" style="width:500px;">
    @if (Model.Count() > 0)
    {
        <table class="table table-sm table-condensed table-bordered table-hover" style="padding:0px">
            <thead>
                <tr>
                    <th class="icaoCol" >
                        @Html.DisplayNameFor(model => model.AirportICAO)
                    </th>
                    <th class="nameCol">
                        @Html.DisplayNameFor(model => model.AirportName)
                    </th>
                    <th class="distCol">
                        @Html.DisplayNameFor(model => model.Distance)
                    </th>
                    <th class="sizeCol">
                        @Html.DisplayNameFor(model => model.AirportRunwaySize)
                    </th>
                    <th class="elevCol">
                        @Html.DisplayNameFor(model => model.AirportElevation)
                    </th>
                    <th class="paxCol">
                        @Html.DisplayNameFor(model => model.Pax)
                    </th>
                    <th class="cargoCol">
                        @Html.DisplayNameFor(model => model.Cargo)
                    </th>
                    <th class="payCol">
                        @Html.DisplayNameFor(model => model.Pay)
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr style="cursor:pointer;">

                        <td class="icaoCol">
                            @Html.DisplayFor(modelItem => item.AirportICAO)
                        </td>
                        <td  class="nameCol">
                            @Html.DisplayFor(modelItem => item.AirportName)
                        </td>
                        <td  class="distCol">
                            @Html.DisplayFor(modelItem => item.Distance) NM
                        </td>
                        <td class="sizeCol">
                            @Html.DisplayFor(modelItem => item.AirportRunwaySize) ft
                        </td>
                        <td class="elevCol">
                            @Html.DisplayFor(modelItem => item.AirportElevation) ft
                        </td>
                        <td class="paxCol">
                            @Html.DisplayFor(modelItem => item.Pax)
                        </td>
                        <td class="cargoCol">
                            @Html.DisplayFor(modelItem => item.Cargo)
                        </td>
                        <td class="payCol">
                            @string.Format("{0:C}", item.Pay)
                        </td>
                        @if (item.IdJob > 0)
                        {
                            <td class="cloneCol">
                                <input onclick="location.href='@Url.Action("CloneJob", "SearchJobs", new { jobId = @item.IdJob })'" type="button" value="Clone" class="btn btn-default btn-xs" style="margin:0px; padding:0px;" />
                            </td>
                        }
                    </tr>

                }
            </tbody>
        </table>
        <div class="row" style="margin-right:0px;">
            <div class="col-md-12">
                <input id="arrival-tips-update" type="button" value="Reload" class="btn btn-info btn-xs pull-right" />
            </div>
        </div>
    }
    else
    {
        <h3>No arrival found for this departure.</h3>
    }
</div>

<script type='text/javascript'>

    $(document).ready(function () {
        $('table tr').click(function (event) {
            var value = $(this).closest('tr').children('td:first').text();
            $('#Arrival').val(value.trim());
            $("#arrival-tips-table").hide(500);
            CalcDistance();
        });
    });

    $('#arrival-tips-update').click(function () {
        $.ajax({
            url: '@Url.Action("ArrivalTips", "SearchJobs")',
            type: "Get",
            data: { departure: $('#Departure').val() },
            success: function (result) {
                if (result != null && result != '') {
                    $("#arrival-tips-table").html(result);
                }
            }
        });
        return false;

    });



</script>