@model IEnumerable<FlightJobs.Models.JobDbModel>

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() > 0)
{


    <p>
        <h3> Confirm jobs departing from  @Html.DisplayFor(modelItem => Model.FirstOrDefault().DepartureICAO)  </h3>
    </p>
    <hr />

    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalICAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pay)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalICAO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dist) NM
                </td>
                <td> @Html.DisplayFor(modelItem => item.Pax)</td>
                <td> @Html.DisplayFor(modelItem => item.Cargo) Kg (Cargo)  </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pay)
                </td>
            </tr>
        }

    </table>
    <div class="panel panel-default">
        <div class="panel-footer">
            <p><b>Summary</b></p>
            <p>
                Pax = @ViewBag.TotalPax
            </p>
            <p>
                Cargo = @ViewBag.TotalCargo
            </p>
            <p>
                Pay = @ViewBag.TotalPay
            </p>
            <p>
                <b>  Total payload: @ViewBag.TotalPayload Kg </b>
            </p>
            
        </div>

    </div>
    <p style="text-align:right">@Html.ActionLink("Confirm", "Confirm", "SearchJobs", new object { }, new { @class = "btn btn-info  pull-right" })</p>
}
else
{
<p>
    <h1 style="color:red;">No job selected.</h1>
</p>
}

<div>
    @if (Request.UrlReferrer != null)
    {
        <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back to Result</a><br />
    }

</div>
