@model FlightJobs.Models.JobSerachModel
@using FlightJobs.Util;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .uppercase {
        text-transform: uppercase;
    }
    .swap {
        cursor: pointer;
        color: #5bc0de;
        display:contents;
    }
    .popover {
        max-width: 100%; /* Max Width of the popover (depending on the container!) */
    }
    .map-container {
        margin-top: 10px;
        border: 1px solid #D1D3D4;
        display:none;
    }
    #mapid {
        height: 490px;
    }
    #searchclear {
        position: absolute;
        right: 5px;
        top: 25px;
        bottom: 0;
        height: 14px;
        margin: auto;
        font-size: 14px;
        cursor: pointer;
        color: #ccc;
    }
    .form-content-search {
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px 20px 5px 20px;
        margin: 15px 0px 0px 25px;
        min-height: 200px;
    }
    .form-content-capacity {
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px 2px 10px 2px;
        margin: 0px;
    }
</style>
<div class="row" style="margin:0px 55px 5px 55px;">
    @using (Html.BeginForm("Index", "SearchJobs", FormMethod.Post, new { id = "searchForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" role="form">
            <br />
            <h4>Generate job</h4>

            <div class="form-content-search">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div id="swap-button" class="swap">Swap departure and destination</div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2" style="padding-right:0px; width:12%;">
                            @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { placeholder = "ICAO", @class = "form-control uppercase", @maxlength = "4" } })
                            <span id="searchclear" onclick="clearInput('Departure')" class="glyphicon glyphicon-remove-circle"></span>
                            @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-1" style="padding-left:0px; padding-right:0px; width:auto;">
                            <br />
                            <img src="~/Content/img/airplane.png" />

                        </div>

                        <div class="col-md-2" style="padding: 0px; width: 12%;">
                            @Html.LabelFor(model => model.Arrival, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Arrival, new { htmlAttributes = new { placeholder = "ICAO", @class = "form-control uppercase", @maxlength = "4" } })
                            <span id="searchclear" onclick="clearInput('Arrival')" class="glyphicon glyphicon-remove-circle"></span>
                            @Html.ValidationMessageFor(model => model.Arrival, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-1" style="padding:5px; width:auto;">
                            <input id="arrival-tips-button" type="button" value="Tips" class="btn btn-info btn-xs" style="margin-top:26px;" />
                            <input id="random-button" type="button" value="Random" class="btn btn-info btn-xs" style="margin:26px 0px 0px 10px;" />
                            <img id="random-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                            <input id="simbrief-button" type="button" value="Simbrief" class="btn btn-info btn-xs" style="margin:26px 0px 0px 10px;" />
                            <img id="simbrief-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                        </div>
                        <div id="departure-required" style="display: none;"><i class="glyphicon glyphicon-alert"></i>  First set a valid departure.</div>
                        <div id="arrival-tips-table" style="display: none;" class="col-md-6">Loading...</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center" style="padding-left:0px">
                            <label id="Distance" style="font-size:small;"></label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2" style="width: 10%; padding: 0px; margin-left: 15px;">
                            @Html.LabelFor(model => model.Alternative, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Alternative, new { htmlAttributes = new { placeholder = "ICAO", @class = "form-control uppercase", @maxlength = "4" } })
                            <span id="searchclear" onclick="clearInput('Alternative')" class="glyphicon glyphicon-remove-circle"></span>
                            @Html.ValidationMessageFor(model => model.Alternative, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-xs-1" style="padding:0px; width:auto; margin: 5px;">
                            <input id="alternative-tips-button" type="button" value="Tips" class="btn btn-info btn-xs" style="margin-top:26px" />
                        </div>
                        <div id="destination-required" style="display: none;"><i class="glyphicon glyphicon-alert"></i> First set a valid destination.</div>
                        <div id="alternative-tips-table" style="display: none;" class="col-md-6">Loading...</div>

                        <input type="submit" value="Generate" class="btn btn-info pull-right" style="margin-right:20px;" />
                        <button id="btnShowMap" type="button" value="Map" class="btn btn-info pull-right" style="margin-right:20px;" title="Show/Hide MAP">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <img id="map-loading-img" src="/Content/img/loading.gif" style="width: 20px; display: none;">
                        </button>

                    </div>
                    @RenderPage("~/Views/Maps/GenerateJobsMap.cshtml")
                </div>
                <br />
            </div>
            <div class="form-group">
                <hr />

                <div class="funkyradio">
                    <div class="row" style="text-align:-webkit-center">
                        <div class="col-xs-3 ">
                            <div class="funkyradio-info">
                                <input type="radio" name="AviationType" id="GeneralAviation" value="GeneralAviation" />
                                <label for="GeneralAviation"><img src="~/Content/img/pictures/general-aviation.jpg" style="width:100px; height:70px;" /><span>General</span></label>
                            </div>
                        </div>
                        <div class="col-xs-3 ">
                            <div class="funkyradio-info">
                                <input type="radio" name="AviationType" id="AirTransport" value="AirTransport" checked="checked" />
                                <label for="AirTransport"><img src="~/Content/img/pictures/air-transport.jpg" style="width:100px; height:70px;" /><span>Air transport</span></label>
                            </div>
                        </div>
                        <div class="col-xs-3 ">
                            <div class="funkyradio-info">
                                <input type="radio" name="AviationType" id="HeavyAirTransport" value="HeavyAirTransport" />
                                <label for="HeavyAirTransport"><img src="~/Content/img/pictures/heavy.jpg" style="width:100px; height:70px;" /><span>Heavy</span></label>
                            </div>
                        </div>
                        <div class="col-xs-3 ">
                            <div class="funkyradio-info">
                                <input type="radio" name="AviationType" id="Cargo" value="Cargo" />
                                <label for="Cargo"><img src="~/Content/img/pictures/cargo.jpg" style="width:100px; height:70px;" /><span>Cargo</span></label>
                            </div>
                        </div>

                    </div>
                    <hr />
                    
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 620px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Custom capacity</h4>
                    </div>

                    <div class="modal-body">
                        <h5 style="color:gray">* This information will be used to calculate the Job Profit.</h5>
                        <div class="form-group">
                            @if (Model.CustomPlaneCapacityList == null)
                            {
                                Model.CustomPlaneCapacityList = new List<SelectListItem>();
                            }
                            @if (Model.CustomPlaneCapacity == null)
                            {
                                Model.CustomPlaneCapacity = new FlightJobs.Models.CustomPlaneCapacityDbModel()
                                {
                                    CustomCargoCapacityWeight = 1500,
                                    CustomNameCapacity = "B738",
                                    CustomPassengerCapacity = 5
                                };
                            }
                            <hr />
                            <div class="row">
                                @Html.Partial("CapacityListView", Model)
                            </div>
                            <br />
                            <div class="row form-content-capacity">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="control-label" for="CustomPassengerCapacity">Passengers</label>
                                            @Html.EditorFor(model => model.CustomPlaneCapacity.CustomPassengerCapacity, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label" for="CustomPassengerCapacity">Weight (@Model.WeightUnit)</label>
                                            @Html.EditorFor(model => model.CustomPlaneCapacity.CustomPaxWeight, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label" for="CustomCargoCapacityWeight">
                                                Cargo weight (@Model.WeightUnit)
                                            </label>
                                            @Html.EditorFor(model => model.CustomPlaneCapacity.CustomCargoCapacityWeight, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="control-label" for="CustomNameCapacity">Name</label>
                                            @Html.EditorFor(model => model.CustomPlaneCapacity.CustomNameCapacity, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <img id="CustomPlaneCapacity_ImagePath" src="@Model.CustomPlaneCapacity.ImagePath" style="width: 270px;margin: 10px 0px 10px 0px;" />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-info btn-sm" id="AddCustomCapacity">New</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-info btn-sm" id="SaveCustomCapacity">Save</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-default btn-sm" id="RemoveCustomCapacity">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="alert alert-info pull-left" role="alert" style="margin-bottom:0px; padding:5px;" id="capacity-success-alert">
                            Capacity saved!
                        </div>
                        <div class="alert alert-info pull-left" role="alert" style="margin-bottom:0px; padding:5px;" id="capacity-remove-alert">
                            Capacity removed!
                        </div>
                        <button id="SelectCustomCapacity" type="button" class="btn btn-info" data-dismiss="modal">Select</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 750px;">
                    @using (Html.BeginForm("SearchProfile", "Profile", FormMethod.Post))
                    {
                    <div class="modal-header" style="padding:5px;">
                        <div id="loading-generate-msg" style="float: left; padding-right: 10px;">
                            <img src="/Content/img/loading.gif" style="width:30px;">
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                    </div>

                        <div id="confirm-content"></div>
                    }
                </div>
            </div>
        </div>
    }

</div>

<script>

    $(document).ready(function () {
        $("#capacity-success-alert").hide();
        $("#capacity-remove-alert").hide();
    });

    $('[data-toggle="popover"]').popover({
        container: 'body'
    });

    $('#searchForm').submit(function () {
        $("#loading-generate-msg").show();
        $('#myModal').modal('show');

        return false;
    });

    $('#CustomPassengerCapacity').change(function () {
        var passengersVal = $('#CustomPassengerCapacity').val();
        if (parseInt(passengersVal) > 600) {
            $('#CustomPassengerCapacity').val(600);
        }
    });

    $('#CustomCargoCapacityWeight').change(function () {
        var cargoVal = $('#CustomCargoCapacityWeight').val();
        if (parseInt(cargoVal) > 190000) {
            $('#CustomCargoCapacityWeight').val(190000);
        }
    });


    $('#SaveCustomCapacity').click(function () {
        saveCustomCapacity();

        $("#AddCustomCapacity").prop("disabled", false);
        $("#RemoveCustomCapacity").prop("disabled", false);
        $("#SelectCustomCapacity").prop("disabled", false);
        $("#CustomPlaneCapacity_Id").prop("disabled", false);
    });

    $('#AddCustomCapacity').click(function () {
        $('#CustomPlaneCapacity_CustomPassengerCapacity').val('');
        $('#CustomPlaneCapacity_CustomCargoCapacityWeight').val('');
        $('#CustomPlaneCapacity_CustomNameCapacity').val('');

        $("#AddCustomCapacity").prop("disabled", true);
        $("#RemoveCustomCapacity").prop("disabled", true);
        $("#SelectCustomCapacity").prop("disabled", true);
        $("#CustomPlaneCapacity_Id").prop("disabled", true);
    });

    $('#RemoveCustomCapacity').click(function () {
        var customPlaneCapacityId = $('#CustomPlaneCapacity_Id').val();

        $.ajax({
            url: '@Url.Action("RemoveCustomCapacity", "SearchJobs")',
            type: "Get",
            data: { capacityId: customPlaneCapacityId },
            success: function (result) {
                $('#CapacityListContent').html(result);
                $('#CustomPlaneCapacity_CustomPassengerCapacity').val('');
                $('#CustomPlaneCapacity_CustomCargoCapacityWeight').val('');
                $('#CustomPlaneCapacity_CustomNameCapacity').val('');

                $("#capacity-remove-alert").fadeTo(2000, 500).slideUp(500, function () {
                    $("#capacity-remove-alert").slideUp(500);
                });
            }
        });
    });

    $('#SelectCustomCapacity').click(function () {
        $('#myModalConfirm').modal('show');
        $("#confirm-content").html('');
        var customPlaneCapacityId = $('#CustomPlaneCapacity_Id').val();
        saveCustomCapacity();

        $.ajax({
            url: '@Url.Action("SelectCustomCapacity", "SearchJobs")',
            type: "Get",
            data: { capacityId: customPlaneCapacityId },
            success: function (result) {
                $('#CapacityListContent').html(result);
            }
        });

        $.ajax({
            url: '@Url.Action("Index", "SearchJobs")',
            type: "Post",
            data: $("#searchForm").serialize(),
            success: function (result) {
                if (result != null) {
                    $("#confirm-content").html(result);
                    $("#loading-generate-msg").hide();
                }
            }
        });
    });

    $('#swap-button').click(function () {
        var dep = $('#Departure').val();
        var arr = $('#Arrival').val();
        $('#Departure').val(arr);
        $('#Arrival').val(dep);
        LoadMapInfo();
        $(".map-container").show();
    });


    $('#random-button').click(function () {
        //random-loading-img
        $('#random-loading-img').show();
        $.ajax({
            url: '@Url.Action("RandomFlight", "SearchJobs")',
            type: "Get",
            data: { destination: $('#Arrival').val(), departure: $('#Departure').val() },
            success: function (result) {
                if (result != null && result != '') {
                    $('#Arrival').val(result.ArrivalICAO);
                    $('#Departure').val(result.DepartureICAO);
                    $('#Alternative').val(result.AlternativeICAO);
                    CalcDistance();
                    LoadMapInfo();
                    $(".map-container").show();
                    $('#random-loading-img').hide();
                }
                else {
                    $('#random-loading-img').hide();
                }
            }
        });
        return false;
    });

    $('#simbrief-button').click(function () {
        var sbId = getCookie('simbrief.id');
        if (sbId) {
            sbId = prompt('Inform your Simbrief Username:', sbId);
        } else {
            sbId = prompt('Inform your Simbrief Username:');
        }

        if (sbId) {
            $('#simbrief-loading-img').show();
            setCookie('simbrief.id', sbId);
            $.ajax({
                url: '@Url.Action("SimbriefLoadAsync", "SearchJobs")',
                data: { simbriefId: sbId },
                type: "Get",
                success: function (result) {
                    if (result) {
                        let simbriefObj = $.parseJSON(result);
                        $('#Arrival').val(simbriefObj.destination.icao_code);
                        $('#Departure').val(simbriefObj.origin.icao_code);
                        $('#Alternative').val(simbriefObj.alternate.icao_code);
                        CalcDistance();
                        LoadMapInfo();
                        $(".map-container").show();
                    } else {
                        alert('No flight found on Simbrief for username ' + sbId);
                    }
                    $('#simbrief-loading-img').hide();
                }
            });
        } else {
            alert('You need to inform a valid Simbrief Username');
        }


        return false;
    });

    $('#alternative-tips-button').click(function () {
        $('#alternative-tips-button').toggleClass('btn-info btn-default');
        $("#arrival-tips-table").hide();
        $("#alternative-tips-table").toggle(500);
        $.ajax({
            url: '@Url.Action("AlternativeTips", "SearchJobs")',
            type: "Get",
            data: { destination: $('#Arrival').val(), range: 60 },
            success: function (result) {
                if (result != null && result != '') {
                    $("#destination-required").hide();
                    $("#alternative-tips-table").html(result);
                }
                else {
                    $("#destination-required").show().delay(3000).fadeOut();
                    $("#alternative-tips-table").hide();
                    $("#Arrival").focus();
                }
            }
        });
        return false;

    });

    $('#arrival-tips-button').click(function () {
        $('#arrival-tips-button').toggleClass('btn-info btn-default');
        $("#alternative-tips-table").hide();
        $("#arrival-tips-table").toggle(500);
        $.ajax({
            url: '@Url.Action("ArrivalTips", "SearchJobs")',
            type: "Get",
            data: { departure: $('#Departure').val() },
            success: function (result) {
                if (result != null && result != '') {
                    $("#departure-required").hide();
                    $("#arrival-tips-table").html(result);
                }
                else {
                    $("#departure-required").show().delay(3000).fadeOut();
                    $("#arrival-tips-table").hide();
                    $("#Departure").focus();
                }
            }
        });
        return false;

    });

    $('#Alternative').change(function () {
        if ($('#Alternative').val().length == 4) {
            LoadMapInfo();
            $(".map-container").show();
            $('#btnShowMap').removeClass('btn-info').addClass('btn-default');
        }
    });

    $('#Arrival').change(function () {
        if ($('#Departure').val().length == 4 && $('#Arrival').val().length == 4) {
            CalcDistance();
            LoadMapInfo();
            $(".map-container").show();
            $('#btnShowMap').removeClass('btn-info').addClass('btn-default');
        }
    });

    $('#Arrival').keyup(function () {

        if ($('#Departure').val().length == 4 && $('#Arrival').val().length == 4) {
            CalcDistance();
            LoadMapInfo();
            $(".map-container").show();
            $('#btnShowMap').removeClass('btn-info').addClass('btn-default');
        }
    });

    $('#Departure').keyup(function () {

        if ($('#Departure').val().length == 4 && $('#Arrival').val().length == 4) {
            CalcDistance();
            LoadMapInfo();
            $(".map-container").show();
            $('#btnShowMap').removeClass('btn-info').addClass('btn-default');
        }
    });

    function CalcDistance() {
        $.ajax({
            url: '@Url.Action("CalcDistance", "SearchJobs")',
            type: "Get",
            data: { departure: $('#Departure').val(), arrival: $('#Arrival').val() },
            success: function (result) {
                if (result != null && result != '') {
                    $('#Distance').html(result + ' NM');
                }
            }
        });
    }

    function LoadMapInfo() {
        $('#map-loading-img').show();
        $.ajax({
            url: '@Url.Action("GetMapInfo", "SearchJobs")',
            type: "Get",
            data: { departure: $('#Departure').val(), arrival: $('#Arrival').val(), alternative: $('#Alternative').val() },
            success: function (result) {
                if (result != null && result != '') {
                    ShowMap(result);
                }
                $('#map-loading-img').hide();
            }
        });
    }

    function clearInput(inputId) {
        $("#" + inputId).val('');
    }

    function setInputValue(inputId, inputValue) {
        $("#" + inputId).val(inputValue);
    }

    function saveCustomCapacity() {
        var passengersVal = $('#CustomPlaneCapacity_CustomPassengerCapacity').val();
        var passengersWeightVal = $('#CustomPlaneCapacity_CustomPaxWeight').val();
        var cargoVal = $('#CustomPlaneCapacity_CustomCargoCapacityWeight').val();
        var nameVal = $('#CustomPlaneCapacity_CustomNameCapacity').val();

        $.ajax({
            url: '@Url.Action("SaveCustomCapacity", "SearchJobs")',
            type: "Get",
            data: { passengers: passengersVal, cargo: cargoVal, name: nameVal, paxWeight: passengersWeightVal },
            success: function (result) {
                $('#CapacityListContent').html(result);
                $("#capacity-success-alert").fadeTo(2000, 500).slideUp(500, function () {
                    $("#capacity-success-alert").slideUp(500);
                });
            }
        });
    }

    function setCookie(key, value) {
        var expires = new Date();
        expires.setTime(expires.getTime() + (365 * 24 * 60 * 60 * 1000));
        document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
    }

    function getCookie(key) {
        var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
        return keyValue ? keyValue[2] : null;
    }

    $('#btnShowMap').click(function () {
        $(".map-container").toggle();
        $('#btnShowMap').toggleClass('btn-info btn-default');
        LoadMapInfo();
    });

    $("#capacity-success-alert").fadeTo(2000, 500).slideUp(500, function () {
        $("#capacity-success-alert").slideUp(500);
    });

    $("#capacity-remove-alert").fadeTo(2000, 500).slideUp(500, function () {
        $("#capacity-remove-alert").slideUp(500);
    });

</script>