@model FlightJobs.Models.JobSerachModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .uppercase {
        text-transform: uppercase;
    }
    .swap {
        cursor: pointer;
        color: #5bc0de;
    }
</style>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" role="form">
        <br />
        <h4>Choose the parameters for generate jobs</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div id="swap-button" class="swap">Swap departure and destination</div>
        
        <div class="form-group">
            <div class="col-md-2" style="padding-right:0px">
                @Html.LabelFor(model => model.Departure, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Departure, new { htmlAttributes = new { placeholder = "ICAO e.g. 'EDDM'",  @class = "form-control uppercase", @maxlength = "4" } })
                @Html.ValidationMessageFor(model => model.Departure, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-1" style="padding-left:0px; padding-right:0px; width:auto;">
                <br />
                <img src="~/Content/img/airplane.png" />
            </div>
            <div class="col-md-2" style="padding-left:0px">
                    @Html.LabelFor(model => model.Arrival, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Arrival, new { htmlAttributes = new { placeholder = "ICAO e.g. 'ED'", @class = "form-control uppercase", @maxlength = "4" } })
                    @Html.ValidationMessageFor(model => model.Arrival, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2" style="padding-left:0px">
                @Html.LabelFor(model => model.Alternative, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Alternative, new { htmlAttributes = new { placeholder = "ICAO", @class = "form-control uppercase", @maxlength = "4" } })
                @Html.ValidationMessageFor(model => model.Alternative, "", new { @class = "text-danger" })
            </div>
            </div>
        <br />
        <div class="form-group">
            <div class="row" style="margin-left:0px;">
                <div class="col-md-5" style="padding-right:0px;">
                    <label> Distance range (Min/Max) </label>
                </div>
            </div>
            <div class="col-md-2" style="padding-right:0px;">
                @Html.EditorFor(model => model.MinRange, new { htmlAttributes = new { @class = "form-control", @maxlength = "4", @minlength = "1" } })
            </div>
            <div class="col-sm-1" style="padding-left:0px; padding-right:0px; width:auto;">
                
                <img src="~/Content/img/line.png" />
            </div>
            <div class="col-md-2" style="padding-left:0px">
                
                @Html.EditorFor(model => model.MaxRange, new { htmlAttributes = new { @class = "form-control", @maxlength = "4", @minlength = "1" } })
            </div>


                @Html.ValidationMessageFor(model => model.MaxRange, "", new { @class = "text-danger" })
            </div>

        <br />

        <div class="form-group">
            <hr />
            <div class="col-md-2" >
                <label>
                    @Html.RadioButtonFor(m => m.AviationType, "GeneralAviation")
                    General aviation
                </label>
            </div>
            <div class="col-md-2" >
                <label>
                    @Html.RadioButtonFor(m => m.AviationType, "AirTransport", new { @checked = true })
                    Air transport
                </label>
            </div>
            <div class="col-md-2" >
                <label>
                    @Html.RadioButtonFor(m => m.AviationType, "HeavyAirTransport ")
                    Heavy
                </label>
            </div>
            <input type="submit" value="Generate" class="btn btn-info  pull-right" />
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $('#swap-button').click(function () {
        var dep = $('#Departure').val();
        var arr = $('#Arrival').val();
        $('#Departure').val(arr);
        $('#Arrival').val(dep);
        
    });
</script>