@using PagedList;

@using PagedList.Mvc;

@model IPagedList<FlightJobs.Models.JobListModel>



@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <h1>  @Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.ICAO) </h1>
    
    <span>  @Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.Name) - 
            @Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.City) </span>
</p>

<p style="color:red">
@Html.ValidationMessage("error")
</p>

@using (Html.BeginForm("ResultNext", "SearchJobs", FormMethod.Post))
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Selected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Dist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Pay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.CheckBoxFor(modelItem => item.Selected, new { Id = item.Id, Name = "sels", Value = item.Id }  )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dist) NM
        </td>
        
        @if (item.Pax > 0)
        {
            if (item.FirstClass)
            {
                    <td> @Html.DisplayFor(modelItem => item.Pax) Pax (Business) </td>
            }
            else
            {
                    <td> @Html.DisplayFor(modelItem => item.Pax) Pax (Economy)  </td>
            }
        }
        else
        {
            <td> @Html.DisplayFor(modelItem => item.Cargo) Kg (Cargo)  </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Pay)
        </td>
        <td>
            @Html.ActionLink("Find a route", "FindRoute", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>


<script type='text/javascript'>
    $(function () {

        $("ul.pagination li").click(function (e) {

            var url = $(this).find("a").attr("href");
            var selectedCheckbox = [];
            $("input[type='checkbox']").each(function () {
                if ($(this).prop("checked")) {
                    selectedCheckbox.push($(this).attr("id"));
                }
            });
            $(this).find("a").attr("href", url + '&ids=' + selectedCheckbox);
            alert($(this).find("a").attr("href"));
        });
    });

</script>

@Html.PagedListPager(Model, pageNumber => Url.Action("Result", new
{
    pageNumber
}))

    <div class="form-group" style="text-align:right">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Next" class="btn btn-default"  />
        </div>
    </div>

<div>
    @Html.ActionLink("Back to Search", "Index")
</div>


}


