@using PagedList;


@model IPagedList<FlightJobs.Models.JobListModel>



@{
    ViewBag.Title = "Result";
}


<style>
    .popover {
        max-width: 100%; /* Max Width of the popover (depending on the container!) */
    }
</style>
@*<p style="color:red">
@Html.ValidationMessage("error")
</p>*@

@using (Html.BeginForm("ResultNext", "SearchJobs", FormMethod.Post, new { id = "resultForm" }))
{
    if (Model.Count() > 0)
    {
<div class="navbar navbar-inverse" style="text-align:center; color:#9d9d9d; height:125px; width:100%; ">
    <p>
        <h4>Ckeck your aircraft payload limits and select the available jobs</h4>
    </p>

    <p>
        Departing from  
        <b>@Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.Name)</b> (@Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.ICAO))
        to arrivel at 
        <b>@Html.DisplayFor(modelItem => Model.FirstOrDefault().Arrival.Name)</b> (@Html.DisplayFor(modelItem => Model.FirstOrDefault().Arrival.ICAO))
    </p>

    <label id="paxSummary" style="font-size: 12px;"> </label>
    <label id="cargoSummary" style="font-size: 12px; padding-left:100px"></label>
    <label id="paymentSummary" style="font-size: 12px; padding-left:100px"></label>
    <div style="border-top: 1px solid #808080; margin: 0px 60px 0px 60px;"></div>
    <p>
        <label id="payloadSummary" style="font-size: 13px;"></label>
    </p>
</div>
<div style="margin: 0px; height: 350px; overflow-y: auto;">
    <div class="panel panel-default text-center" style="margin: 0px 50px 0px 50px;">

        <table class="table table-bordered" style="font-size: 10px;">
            <tr style="background-color:darkgray;">
                <th class="text-center">
                    <span style="cursor:pointer; text-decoration:underline;" id="select-all"> Select all</span>
                </th>
                <th class="text-center">
                    Type
                </th>
                <th class="text-center">
                    Payload
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().Pay)
                </th>
            </tr>

            @foreach (var item in Model)
                    {
                        string icon = "/Content/img/passanger.png";
                        if (item.IsCargo)
                        {
                            icon = "/Content/img/cargo-icon.png";
                        }
                        string rowClass = "";
                        if (item.Selected)
                        {
                            rowClass = "bg-info";
                        }

                        <tr class="@rowClass" style="cursor:pointer;">

                            <td>
                                @Html.CheckBoxFor(modelItem => item.Selected, new { Id = item.Id, Name = "sels", Value = item.Id, Class= "checkbox-job" })
                            </td>
                            <td style="padding:0px; ">
                                <img src="@icon" style="height:35px;" /> @item.PayloadLabel
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.PayloadView)</td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Pay)
                            </td>
                        </tr>
            }
        </table>
    </div>
</div>
        //@Html.PagedListPager(Model, pageNumber => Url.Action("Result", new  {   pageNumber  }))
            <hr style="margin:0px;" />
            <div class="form-group">
                <div class="row" style="margin: 15px;">
                    <div class="col-md-9">

                        @{ 
                            var pWeightVal = @TempData["PassengersWeightCookie"];
                            string weightTootip = "FlightFactor Airbus A320-214 Ultimate - <b>84Kg (185lbs)</b><br />Boeing 767 300ER with PW4062 - <b>95Kg (209lbs)</b><br />ToLiss A319 - <b>100Kg (220lbs)</b><br />";
                        }
                        <label style="font-size: 12px; font-weight:normal;">Passenger weight for payload calculation: </label>
                        <label id="paxWeight-label" style="font-size: 11px;">@pWeightVal </label>
                        <label id="paxWeight-unit-label" style="font-size: 11px;">@TempData["PassengersWeightUnit"]</label>
                        <input id="paxWeight-text" name="paxWeight-text" type="number" value="@pWeightVal" maxlength="3" max="200" min="20" class="" style="display: none;" />
                        <a id="change-paxWeight-button" class="btn btn-info btn-xs" data-toggle="tooltip" data-html="true" data-placement="bottom" title="@weightTootip">Change</a>
                    </div>
                    <div class="col-md-3 pull-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <button id="btn-confirm" type="submit" disabled class="btn btn-info pull-right">Confirm</button>
                                <img id="confirm-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none; position:absolute;" />
                            </div>
                            <div class="col-sm-6">
                                <button data-dismiss="modal" class="btn btn-default pull-right">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            else
            {
                <div class="row" style="margin:15px;">
                    <p>
                        <h3 style="color:red; text-align:center;">No jobs found.</h3>
                    </p>
                    <button data-dismiss="modal" class="btn btn-info pull-right">Close</button>
                </div>
            }

    <script type='text/javascript'>

        $(document).ready(function () {
            $('table tr').click(function (event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });
        });

        $(function () {
            $('td:first-child input').change(function () {
                $(this).closest('tr').toggleClass("bg-primary", this.checked);

                var payloadSum = 0;
                var payLoad = $(this).closest('tr').find('td').eq(2).text();
                var payLoadLabel = $(this).closest('tr').find('td').eq(1).text();
                var payloadNumber = payLoad.match(/\d+/);
                //alert(payLoad.startsWith("[Cargo]"));
                if (payLoadLabel.indexOf("Cargo") >= 0) {

                    var t = parseFloat($('#cargoSummary').val());
                    if (t) {
                        if (this.checked) {
                            $('#cargoSummary').val(t + parseFloat(payloadNumber));
                            }
                        else {
                            $('#cargoSummary').val(t - parseFloat(payloadNumber));
                            }
                            }
                        else {
                        $('#cargoSummary').val(payloadNumber);
                        }

                    var unit = $('#paxWeight-unit-label').text();
                    $('#cargoSummary').text("Total cargo: " + $('#cargoSummary').val() + unit);

                    }
                    else {

                        var t = parseFloat($('#paxSummary').val());
                        if (t) {
                            if (this.checked) {
                            $('#paxSummary').val(t + parseFloat(payloadNumber));
                                }
                        else {
                            $('#paxSummary').val(t - parseFloat(payloadNumber));
                                }
                                }
                            else {
                        $('#paxSummary').val(payloadNumber);
                            }

                        $('#paxSummary').text("Total pax: " + $('#paxSummary').val());
                }

                /// Payload Summary ############
                if ($('#cargoSummary').val() != "") {
                    payloadSum = parseFloat($('#cargoSummary').val());
                }

                var pWeight = parseInt($("#paxWeight-text").val());
                if ($('#paxSummary').val() != "") {
                    payloadSum = payloadSum + (parseFloat($('#paxSummary').val()) * pWeight);
                }

                var unit = $('#paxWeight-unit-label').text();
                $('#payloadSummary').text("Total payload: " + payloadSum + unit ) ;


                        /// payment ##############
                        var payment = $(this).closest('tr').find('td').eq(3).text();
                        var paymentNumber = payment.replace(',', '').replace('.', '').match(/\d+/);

                        var p = parseFloat($('#paymentSummary').val());
                        if (p) {
                            if (this.checked) {
                        $('#paymentSummary').val(p + parseFloat(paymentNumber));
                                }
                    else {
                        $('#paymentSummary').val(p - parseFloat(paymentNumber));
                                }
                                }
                            else {
                    $('#paymentSummary').val(paymentNumber);
                            }

                $('#paymentSummary').text("Pilot Payment: $" + $('#paymentSummary').val());

                if (payloadSum > 0) {
                    $("#btn-confirm").prop('disabled', false);
                }
                else {
                    $("#btn-confirm").prop('disabled', true);
                }
                
            });

        });

        $('#select-all').click(function () {
            //checkbox-job
            $(".checkbox-job:input[type='checkbox']").each(function () {
                 $(this).trigger('click');
            });
        });

        $('#change-paxWeight-button').click(function () {

            if ($('#paxWeight-text:visible').length == 1) {
                $("#paxWeight-text").hide();
                $('#change-paxWeight-button').text("Change");
                $("#paxWeight-label").show();
                $("#paxWeight-label").text($("#paxWeight-text").val());

                $('table > tbody  > tr').each(function () {
                    var checked = $(this).find("input:checkbox").prop("checked");
                    if (checked) {
                        $(this).trigger('click');
                    }
                });
            }
            else {
                $('#change-paxWeight-button').text("Confirm");
                $("#paxWeight-label").hide();
                $("#paxWeight-text").show();
            }
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $('#resultForm').submit(function () {
            $("#btn-confirm").prop('disabled', true);
            $('#confirm-loading-img').show();
            $.ajax({
                url: '@Url.Action("ResultNext", "SearchJobs")',
                type: "Post",
                data: $("#resultForm").serialize(),
                success: function (result) {
                    window.location.href = '/Home';
                }
                });

                return false;
        });
    </script>
}


