@using PagedList;

@using PagedList.Mvc;

@model IPagedList<FlightJobs.Models.JobListModel>



@{
    ViewBag.Title = "Result";
}


<style>
    .popover {
        max-width: 100%; /* Max Width of the popover (depending on the container!) */
    }
</style>
@*<p style="color:red">
@Html.ValidationMessage("error")
</p>*@

@using (Html.BeginForm("ResultNext", "SearchJobs", FormMethod.Post, new { id = "resultForm" }))
{
    if (Model.Count() > 0)
    {
<div class="navbar navbar-inverse navbar-fixed-top" style="margin-top:51px; text-align:center; color:#9d9d9d; height:125px; ">
    <p>
        <h4>First ckeck your aircraft payload limits and select the available jobs departing from:</h4>
    </p>

    <p>
        <b>@Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.ICAO)</b> @Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.Name)
    </p>

    <label id="paxSummary" style="font-size: 12px;"> </label>
    <label id="cargoSummary" style="font-size: 12px; padding-left:100px"></label>
    <label id="paymentSummary" style="font-size: 12px; padding-left:100px"></label>
    <p>
        <label id="payloadSummary" style="font-size: 13px;"></label>
    </p>
</div>
        <div class="panel panel-default text-center" style="margin-top:140px">
            
            <table class="table table-bordered" style="font-size: 10px;">
                <tr style="background-color:darkgray;">
                    <th class="text-center">
                        <span style="cursor:pointer; text-decoration:underline;" id="select-all"> Select all</span>
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.First().Arrival)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.First().Dist) (nm)
                    </th>
                    <th class="text-center">
                        Payload
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.First().Pay)
                    </th>
                </tr>

                @foreach (var item in Model)
                {

                    string rowClass = "";
                    if (item.Selected)
                    {
                        rowClass = "bg-info";
                    }

                    <tr class="@rowClass" style="cursor:pointer;">

                        <td>
                            @Html.CheckBoxFor(modelItem => item.Selected, new { Id = item.Id, Name = "sels", Value = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dist)
                        </td>
                        
                        <td> @Html.DisplayFor(modelItem => item.PayloadView)</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Pay)
                        </td>
                    </tr>
                }
            </table>
            </div>
            //@Html.PagedListPager(Model, pageNumber => Url.Action("Result", new  {   pageNumber  }))
            <hr />
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        @Html.ActionLink("Back to Search", "Index")
                    </div>
                    
                    <div class="col-md-4">
                        @{ var pWeightVal = @TempData["PassengersWeightCookie"]; }
                        <label style="font-size: 12px; font-weight:normal;">Passenger weight for payload calculation: </label>
                        <label id="paxWeight-label" style="font-size: 11px;">@pWeightVal </label>
                        <label id="paxWeight-unit-label" style="font-size: 11px;">@TempData["PassengersWeightUnit"]</label>
                        <input id="paxWeight-text" name="paxWeight-text" type="number" value="@pWeightVal" maxlength="3" max="200" min="20" class="" style="display: none;" />
                        <input id="change-paxWeight-button" type="button" value="Change" class="btn btn-info btn-xs" style="" />
                    </div>
                    <div class="col-md-4">
                        <a href="#" data-html="True"
                           data-toggle="popover" title="Aircraft passenger weight info (human + luggage)"
                           data-trigger="hover" data-placement="bottom"
                           data-content="FlightFactor Airbus A320-214 Ultimate - <b>84Kg (185lbs)</b><br />Boeing 767 300ER with PW4062 - <b>95Kg (209lbs)</b><br />ToLiss A319 - <b>100Kg (220lbs)</b><br />">
                            <span class="glyphicon glyphicon-eye-open" style="margin-left:5px;"></span>
                        </a>
                    </div>
                    <div class="col-md-1 pull-right">
                        <input type="submit" value="Finish" class="btn btn-info  pull-right" />
                    </div>
                </div>
            </div>
            }
            else
            {
            <p>
                <h1 style="color:red;">No jobs found.</h1>
            </p>
    }

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 100%;">
                @using (Html.BeginForm("SearchProfile", "Profile", FormMethod.Post))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm addition of jobs</h4>
                    </div>

                    <div id="confirm-content"></div>
                }
            </div>
        </div>
    </div>





    <script type='text/javascript'>

        $('#resultForm').submit(function () {
        $.ajax({
            url: '@Url.Action("ResultNext", "SearchJobs")', 
            type: "Post",
            data: $("#resultForm").serialize(),
            success: function (result) {
                if (result != null) {
                    $("#confirm-content").html(result);

                    $('#myModal').modal('show');
                }
            }
        });
            return false;
        });

        $(function () {

            $("ul.pagination li").click(function (e) {

                var url = $(this).find("a").attr("href");
                var selectedCheckbox = [];
                $("input[type='checkbox']").each(function () {
                    if ($(this).prop("checked")) {
                        selectedCheckbox.push($(this).attr("id"));
                    }
                });
                $(this).find("a").attr("href", url + '&ids=' + selectedCheckbox);
                //alert($(this).find("a").attr("href"));
            });
        });

        $(document).ready(function () {
            $('table tr').click(function (event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });
            $('#banner').hide();
        });
        
        $(function () {
            $('td:first-child input').change(function () {
                $(this).closest('tr').toggleClass("bg-success", this.checked);

                var payloadSum = 0;
                var payLoad = $(this).closest('tr').find('td').eq(3).text();
                var payloadNumber = payLoad.match(/\d+/);
                //alert(payLoad.startsWith("[Cargo]"));
                if (payLoad.indexOf("Cargo") >= 0) {

                    var t = parseFloat($('#cargoSummary').val());
                    if (t) {
                        if (this.checked) {
                            $('#cargoSummary').val(t + parseFloat(payloadNumber));
                            }
                        else {
                            $('#cargoSummary').val(t - parseFloat(payloadNumber));
                            }
                            }
                        else {
                        $('#cargoSummary').val(payloadNumber);
                        }

                    var unit = $('#paxWeight-unit-label').text();
                    $('#cargoSummary').text("Total cargo: " + $('#cargoSummary').val() + unit);
                    
                    }
                    else {

                        var t = parseFloat($('#paxSummary').val());
                        if (t) {
                            if (this.checked) {
                            $('#paxSummary').val(t + parseFloat(payloadNumber));
                                }
                        else {
                            $('#paxSummary').val(t - parseFloat(payloadNumber));
                                }
                                }
                            else {
                        $('#paxSummary').val(payloadNumber);
                            }

                        $('#paxSummary').text("Total pax: " + $('#paxSummary').val());
                }

                /// Payload Summary ############
                if ($('#cargoSummary').val() != "") {
                    payloadSum = parseFloat($('#cargoSummary').val());
                }

                var pWeight = parseInt($("#paxWeight-text").val()); 
                if ($('#paxSummary').val() != "") {
                    payloadSum = payloadSum + (parseFloat($('#paxSummary').val()) * pWeight);
                }
                
                var unit = $('#paxWeight-unit-label').text();
                $('#payloadSummary').text("Total payload: " + payloadSum + unit ) ;


                        /// payment ##############
                        var payment = $(this).closest('tr').find('td').eq(4).text();
                        var paymentNumber = payment.replace(',', '').replace('.', '').match(/\d+/);

                        var p = parseFloat($('#paymentSummary').val());
                        if (p) {
                            if (this.checked) {
                        $('#paymentSummary').val(p + parseFloat(paymentNumber));
                                }
                    else {
                        $('#paymentSummary').val(p - parseFloat(paymentNumber));
                                }
                                }
                            else {
                    $('#paymentSummary').val(paymentNumber);
                            }

                $('#paymentSummary').text("Pilot Payment: $" + $('#paymentSummary').val());

            });

        });

        $('#select-all').click(function () {
             $("input[type='checkbox']").each(function () {
                 $(this).trigger('click');
            });
        });

        $('#change-paxWeight-button').click(function () {
            
            if ($('#paxWeight-text:visible').length == 1) {
                $("#paxWeight-text").hide();
                $('#change-paxWeight-button').val("Change");
                $("#paxWeight-label").show();
                var unit = $('#paxWeight-unit-label').text();
                $("#paxWeight-label").text($("#paxWeight-text").val() + unit);

                $('table > tbody  > tr').each(function () {
                    var checked = $(this).find("input:checkbox").prop("checked");
                    if (checked) {
                        $(this).trigger('click');
                    }
                });
            }
            else {
                $('#change-paxWeight-button').val("Confirm");
                $("#paxWeight-label").hide();
                $("#paxWeight-text").show();
            }
        });
        
    </script>







  }


