@using PagedList;

@using PagedList.Mvc;

@model IPagedList<FlightJobs.Models.JobListModel>



@{
    ViewBag.Title = "Result";
}



<p style="color:red">
@Html.ValidationMessage("error")
</p>

@using (Html.BeginForm("ResultNext", "SearchJobs", FormMethod.Post, new { id = "resultForm" }))
{
    if (Model.Count() > 0)
    {
        <div class="navbar navbar-inverse navbar-fixed-top" style="margin-top:51px; text-align:center; color:#9d9d9d; height:125px; ">
            <p>
                <h4>First ckeck your aircraft payload limits and select the available jobs departing from:</h4>
            </p>
            
            <p>
                <b>@Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.ICAO)</b> @Html.DisplayFor(modelItem => Model.FirstOrDefault().Departure.Name) 
                
                
                
            </p>
            <label id="paxSummary" style="font-size: 12px;"> </label>
            <label id="cargoSummary" style="font-size: 12px; padding-left:100px"></label>
            <label id="paymentSummary" style="font-size: 12px; padding-left:100px"></label>
        </div>
        <div class="panel panel-default text-center" style="margin-top:140px">
            
            <table class="table table-bordered" style="font-size: 10px;">
                <tr style="background-color:darkgray;">
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.First().Selected)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.First().Arrival)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.First().Dist) (nm)
                    </th>
                    <th class="text-center">
                        Payload
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.First().Pay)
                    </th>
                </tr>

                @foreach (var item in Model)
                {

                    string rowClass = "";
                    if (item.Selected)
                    {
                        rowClass = "bg-info";
                    }

                    <tr class="@rowClass" style="cursor:pointer;">

                        <td>
                            @Html.CheckBoxFor(modelItem => item.Selected, new { Id = item.Id, Name = "sels", Value = item.Id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Arrival)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dist)
                        </td>
                        
                        <td> @Html.DisplayFor(modelItem => item.PayloadView)</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Pay)
                        </td>
                    </tr>
                }
            </table>
            </div>
            //@Html.PagedListPager(Model, pageNumber => Url.Action("Result", new  {   pageNumber  }))
            <hr />
            <div class="form-group" style="text-align:right">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Finish" class="btn btn-info  pull-right" />
                </div>
            </div>
            }
            else
            {
            <p>
                <h1 style="color:red;">No jobs found.</h1>
            </p>
    }

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 100%;">
                @using (Html.BeginForm("SearchProfile", "Profile", FormMethod.Post))
                {
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm addition of jobs</h4>
                    </div>

                    <div id="confirm-content"></div>
                }
            </div>
        </div>
    </div>





    <script type='text/javascript'>

        $('#resultForm').submit(function () {
        $.ajax({
            url: '@Url.Action("ResultNext", "SearchJobs")', 
            type: "Post",
            data: $("#resultForm").serialize(),
            success: function (result) {
                if (result != null) {
                    $("#confirm-content").html(result);

                    $('#myModal').modal('show');
                }
            }
        });
            return false;
        });

        $(function () {

            $("ul.pagination li").click(function (e) {

                var url = $(this).find("a").attr("href");
                var selectedCheckbox = [];
                $("input[type='checkbox']").each(function () {
                    if ($(this).prop("checked")) {
                        selectedCheckbox.push($(this).attr("id"));
                    }
                });
                $(this).find("a").attr("href", url + '&ids=' + selectedCheckbox);
                //alert($(this).find("a").attr("href"));
            });
        });

        $(document).ready(function () {
            $('table tr').click(function (event) {
                if (event.target.type !== 'checkbox') {
                    $(':checkbox', this).trigger('click');
                }
            });
            $('#banner').hide();
        });
        
        $(function () {
            $('td:first-child input').change(function () {
                $(this).closest('tr').toggleClass("bg-success", this.checked);

                var payLoad = $(this).closest('tr').find('td').eq(3).text();
                var payloadNumber = payLoad.match(/\d+/);
                //alert(payLoad.startsWith("[Cargo]"));
                if (payLoad.indexOf("Cargo") >= 0) {

                    var t = parseFloat($('#cargoSummary').val());
                    if (t) {
                        if (this.checked) {
                            $('#cargoSummary').val(t + parseFloat(payloadNumber));
                            }
                        else {
                            $('#cargoSummary').val(t - parseFloat(payloadNumber));
                            }
                            }
                        else {
                        $('#cargoSummary').val(payloadNumber);
                        }

                    $('#cargoSummary').text("Total cargo: " + $('#cargoSummary').val());
                    }
                    else {

                        var t = parseFloat($('#paxSummary').val());
                        if (t) {
                            if (this.checked) {
                            $('#paxSummary').val(t + parseFloat(payloadNumber));
                                }
                        else {
                            $('#paxSummary').val(t - parseFloat(payloadNumber));
                                }
                                }
                            else {
                        $('#paxSummary').val(payloadNumber);
                            }

                    $('#paxSummary').text("Total pax: " + $('#paxSummary').val());
                        }


                        /// payment ##############
                        var payment = $(this).closest('tr').find('td').eq(4).text();
                        var paymentNumber = payment.match(/\d+/);

                        var p = parseFloat($('#paymentSummary').val());
                        if (p) {
                            if (this.checked) {
                        $('#paymentSummary').val(p + parseFloat(paymentNumber));
                                }
                    else {
                        $('#paymentSummary').val(p - parseFloat(paymentNumber));
                                }
                                }
                            else {
                    $('#paymentSummary').val(paymentNumber);
                            }

                $('#paymentSummary').text("Payment: $" + $('#paymentSummary').val());

                        });
                    });

    </script>




    <div>
        @Html.ActionLink("Back to Search", "Index")
    </div>


  }


