@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<FlightJobs.Models.JobAirlineDbModel>

<style>
    .credit {
        color:green;
    }
    .debit {
        color:red;
    }
    .tdLimited {
        max-width: 200px; /* Customise it accordingly */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .smaller-text {
        font-size: smaller;
        padding: 0px;
        margin: 0px;
    }
</style>

    @if (Model != null && Model.Count > 0)
    {
        <div class="panel panel-default text-center" style="margin-bottom:5px">
            <table class="table table-striped table-bordered table-hover" style="font-size: 10px; padding:0px">
                <tr>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Model</th>
                    <th>Distance</th>
                    <th>Flight time</th>
                    <th>Pax</th>
                    <th>Total payload</th>
                    <th>Fuel loaded</th>
                    <th>Fuel burned</th>
                    <th>Fuel price/Kg</th>
                    <th class="debit">Fuel cost</th>
                    <th>Fuel cost per NM</th>
                    <th class="debit">Ground crew</th>
                    <th class="debit">Flight crew</th>
                    <th class="debit">Flight attendant</th>
                    <th class="debit">Total crew labor</th>
                    <th class="debit">Total flight</th>
                    <th>Revenue earned</th>
                    <th class="credit">Flight income</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.DepartureICAO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.ArrivalICAO)
                        </td>
                        <td class="tdLimited">
                            @Html.DisplayFor(modelItem => item.Job.ModelDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.Dist) nm
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.FlightTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.Pax)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.PayloadDisplay) @item.WeightUnit
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.StartFuelWeightDisplay) @item.WeightUnit
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job.UsedFuelWeightDisplay) @item.WeightUnit
                        </td>
                        <td>
                            @string.Format("F{0:C}", item.FuelPrice)
                            @if (item.Job.AviationType > 1) {
                                <div class="smaller-text">(Jet-A)</div> 
                            } else {
                                <div class="smaller-text">(AVGAS)</div> 
                            }
                        </td>
                        <td class="debit">
                            @string.Format("F{0:C}", item.FuelCost)
                        </td>
                        <td>
                            @string.Format("F{0:C}", item.FuelCostPerNM)
                        </td>
                        <td class="debit">
                            @string.Format("F{0:C}", item.GroundCrewCost)
                        </td>
                        <td class="debit">
                            @string.Format("F{0:C}", item.FlightCrewCost)
                        </td>
                        <td class="debit">
                            @string.Format("F{0:C}", item.FlightAttendantCost)
                        </td>
                        <td class="debit">
                            @string.Format("F{0:C}", item.TotalCrewCostLabor)
                        </td>
                        <td class="debit">
                            @string.Format("F{0:C}", item.TotalFlightCost)
                        </td>
                        <td>
                            @string.Format("F{0:C}", item.RevenueEarned)
                        </td>
                        <td class="credit">
                            @string.Format("F{0:C}", item.FlightIncome)
                        </td>
                        <td style="text-align:center;">
                            @if (!string.IsNullOrEmpty(item.Job.VideoUrl))
                            {

                                <a target="_blank" href="@item.Job.VideoUrl"
                                   data-toggle="popover" data-placement="top" title="@item.Job.VideoDescription"
                                   data-content="@item.Job.VideoDescription" data-trigger="hover"
                                   data-id="@item.Job.VideoUrl">
                                    <i class="glyphicon glyphicon-film"></i>
                                </a>

                            }
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="pagination-container">
            <ul class="pagination">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i <= 15 || Model.PageNumber > 15)
                    {
                        if (@Model.PageNumber == i)
                        {
                            <li class="active"><a>@i</a></li>
                        }
                        else
                        {
                            <li><a href="#" onclick="changePage(@i)">@i</a></li>
                        }
                    }
                    else
                    {
                        <li class="hidden"><a href="#" onclick="changePage(@i)">@i</a></li>
                    }
                }
                @if (Model.PageCount > 15 && Model.PageNumber <= 15)
                {
                    <li><a href="#" onclick="showAllPages()">...</a></li>
                }
            </ul>
            <img id="ledger-page-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
        </div>
    }
    else
    {
        <div>No jobs to show.</div>
    }
        
<script>
    function changePage(pageNumber) {
        $('#ledger-page-loading-img').show();
        var model = {
            airlineId: @Model.FirstOrDefault().Airline.Id,
            page: pageNumber
        }

        $.ajax({
        url: '@Url.Action("LedgerProfile", "Profile")',
        type: "Get",
        data: model,
        success: function (result) {
            if (result != null) {
                $("#ledger-content").html(result);
                $('#ledger-page-loading-img').hide();
            }
        }
    });
    }

    function showAllPages() {
        $('ul li.hidden').removeClass('hidden');
    }
</script>
