@using PagedList;
@using PagedList.Mvc;

@model FlightJobs.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet">
<style>

    .myList {
        font-size: small;
        padding: 10px 0px 0px 0px;
        list-style-type: none;
    }

        .myList li {
            margin: 10px 0;
        }

    .pagination {
        margin: 0px;
    }

    
    .popover {
        width: 500px;
    }
    .negativeBankBalance {
        color:red;
    }
    .textLimited {
        display: block;
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .krajee-default.file {
        max-width:100px;
    }
    .show-video-button {
        cursor:pointer;
    }
</style>
<hr />
<div style="background-color:dimgray; width:100%; text-align:center; height:40px; padding-top:5px; border-radius: 5px;"> 
    <b><span style="color:darkgray">P I L O T</span><samp style="color:lightgray">    L O G B O O K</samp></b>
</div>

<div class="panel panel-default text-center" style="margin-bottom:5px; margin-top:-8px; ">
    <table class="table table-striped table-bordered table-hover" style="font-size: 10px; padding:0px">
        <tr>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = "Date", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Departure/Time", "Index", new { sortOrder = "DepartureICAO", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Arrival/Time", "Index", new { sortOrder = "ArrivalICAO", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Model/Registration", "Index", new { sortOrder = "Model", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Distance", "Index", new { sortOrder = "Distance", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Pax", "Index", new { sortOrder = "Pax", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Cargo", "Index", new { sortOrder = "Cargo", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().Payload)
            </th>
            <th>
                @Html.ActionLink("Pay", "Index", new { sortOrder = "Pay", CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().FlightTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().UsedFuelWeight)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.Jobs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureICAO)
                    @item.StartTime.ToString("(HH:mm)")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalICAO)
                    @item.EndTime.ToString("(HH:mm)")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelDescription) -
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dist) nm
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo) @Model.WeightUnit
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayloadDisplay) @Model.WeightUnit
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsedFuelWeightDisplay) @Model.WeightUnit
                </td>
                <td style="text-align:center;"><a class="show-video-button"  data-id="@item.Id"><i class="glyphicon glyphicon-film"></i></a></td>
                <td style="text-align:center;"><a data-toggle="confirmation" data-title="Remove Job?" href="Profile/Delete/@item.Id"><i class="glyphicon glyphicon-remove"></i></a></td>
            </tr>
        }

    </table>
</div>

<button type="button" class="btn btn btn-info pull-right" data-toggle="modal" data-target="#myModal">
    <span class="glyphicon glyphicon-search"></span> Filter
</button>

@if (Session["ProfileFilterModel"] != null)
{
    <button type="button" class="btn btn btn-default pull-right" style="margin-right:20px" title="Remove Filter" onclick="location.href='@Url.Action("RemoveFilter")'">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
}

@Html.PagedListPager(Model.Jobs, pageNumber => Url.Action("Index", new { pageNumber }))

<hr />
@if (Model.Statistics != null)
{
    <div class="row">
        <div class="card col-md-12" style="padding:0px; background-color: lightgray;">
            <div class="col-sm-6" style="padding-right:1px;">
                <div style="height:35px; background-color:dimgray;text-align:center; ">
                    <h2><strong><span style="color:lightgray">Pilot</span><samp style="color:darkgray"> statistics</samp></strong></h2>
                </div>
                <div class="row text-left" style="background-color:white; min-height:270px; margin:inherit;">
                    <div class="col-sm-4 text-center" style="width:30%;">
                        <div class="col-sm-4" style="padding-left:0px;">
                            @using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="kv-avatar">
                                    <div class="file-loading">
                                        <input id="avatar-1" name="FilesInput" type="file" required>

                                    </div>
                                </div>

                                <div id="kv-avatar-errors-1" class="center-block" style="font-size:8pt; width:400px;display:none"></div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="myList">
                            <li>
                                <b>@Html.DisplayNameFor(model => model.Statistics.FlightTimeTotal):</b> @Html.DisplayFor(model => model.Statistics.FlightTimeTotal)
                            </li>
                            <li>
                                <b>@Html.DisplayNameFor(model => model.Statistics.NumberFlights):</b> @Html.DisplayFor(model => model.Statistics.NumberFlights)
                            </li>
                            <li>
                                <b>@Html.DisplayNameFor(model => model.Statistics.PayloadTotal):</b> @Html.DisplayFor(model => model.Statistics.PayloadTotal)
                            </li>
                            <li>
                                <b>@Html.DisplayNameFor(model => model.Statistics.LastFlight):</b> @Html.DisplayFor(model => model.Statistics.LastFlight)
                            </li>
                            <li>
                                <b>@Html.DisplayNameFor(model => model.Statistics.LastAircraft):</b> <span class="textLimited"> @Html.DisplayFor(model => model.Statistics.LastAircraft)</span>
                            </li>
                            <li>
                                <b>@Html.DisplayNameFor(model => model.Statistics.FavoriteAirplane):</b><span class="textLimited"> @Html.DisplayFor(model => model.Statistics.FavoriteAirplane) </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2" style="padding-left:  0px;">
                        <button id="buttonChart" type="button" class="btn btn btn-info" style="margin-top:10px; width:100px;">
                            <span class="glyphicon glyphicon-random"></span> Chart
                        </button>
                        <button id="buttonLicense" type="button" class="btn btn btn-info" style="margin-top:10px; width:100px;">
                            <span class="glyphicon glyphicon-shopping-cart"></span> License
                        </button>
                        <img id="license-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                        <button id="buttonTransfer" type="button" data-toggle="popover" title="Warning" data-content="" data-trigger="focus" class="btn btn btn-info" style="margin-top:10px; width:100px;">
                            <span class="glyphicon glyphicon-transfer"></span> Transfer
                        </button>
                    </div>
                </div>

                <div class="row" style="height:170px; background-color:dimgray;text-align:center; margin:inherit;">
                    <div class="col-sm-3">
                        <div class="pull-left text-center img-thumbnail" style="margin: 10px;width:  130px; background-color:darkgray;">
                            <img src="@Model.Statistics.GraduationPath" data-html="True"
                                 data-toggle="popover" title="Pilot graduation"
                                 data-trigger="hover" data-placement="top"
                                 data-content="@Html.Partial("GraduationView")" />

                            <div style="font-size: 10px; margin-top:9px; color:snow;">@Model.Statistics.GraduationDesc</div>
                        </div>
                    </div>
                    <div class="col-sm-9" style="text-align:justify; color:white; padding:8px;">
                         @Html.Raw(Model.PilotStatisticsDescription) 
                    </div>
                </div>
            </div>
            <div class="modal" id="myModalLicense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Pilot license expenses</h4>
                        </div>
                        <div class="modal-body">
                            <div id="license-content"></div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.Statistics.SendLicenseWarning)
                                        @Html.LabelFor(m => m.Statistics.SendLicenseWarning, new { style = "padding-left: 0px"})
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-left"><strong>Your bank balance:</strong> 
                                <span id="license-user-bank-balance" class="@(Model.Statistics.BankBalance < 0 ? "negativeBankBalance" : "")" >@string.Format("{0:C}", Model.Statistics.BankBalance)</span>
                            </div>
                            <button type="button" onclick="@("window.location.href='" + @Url.Action("Index") + "'");" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="myModalTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: auto;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Transfer pilot funds to Airline</h4>
                        </div>
                        <div id="transfer-content"></div>
                    </div>
                </div>
            </div>
            


            <div class="col-sm-6" style="padding-left:1px;">
                <div style="height:35px; background-color:dimgray;text-align:center; ">
                    <h2><strong><span style="color:lightgray">Airline</span><samp style="color:darkgray"> statistics</samp></strong></h2>
                </div>
                @if (Model.Statistics.Airline != null)
                {
                    <div class="row text-left" style="background-color:white; min-height:270px; margin:inherit;">
                        <div class="col-sm-4" style="padding-right: 0px;width:30%;">
                            <img class="img-thumbnail" src="@Model.Statistics.Airline.Logo" style="width:170px; margin-top:5px;" />
                        </div>
                        <div class="col-sm-6">
                            <ul class="myList">
                                <li><b>@Html.DisplayNameFor(model => model.Statistics.Airline):</b> @Html.DisplayFor(model => model.Statistics.Airline.Name)</li>
                                <li>
                                    <b>@Html.DisplayNameFor(model => model.Statistics.AirlinePilotsHired):</b> @Model.Statistics.AirlinePilotsHired.Count()
                                    <a href="#" data-html="True"
                                        data-toggle="popover" title="Pilots"
                                        data-trigger="hover" data-placement="bottom"
                                        data-content="@foreach (var item in @Model.Statistics.AirlinePilotsHired)
                                        {
                                    @item.UserName; <br />
                                        }"><span class="glyphicon glyphicon-eye-open" style="margin-left:10px;"></span></a>
                                </li>
                                <li><b>@Html.DisplayNameFor(model => model.Statistics.Airline.AirlineScore):</b> @Html.DisplayFor(model => model.Statistics.Airline.AirlineScore)</li>
                                <li><b>@Html.DisplayNameFor(model => model.Statistics.Airline.BankBalance):</b> @Html.DisplayFor(model => model.Statistics.Airline.BankBalance)</li>
                                <li><b>@Html.DisplayNameFor(model => model.Statistics.Airline.Description):</b> <span style="font-size:smaller"> @Html.DisplayFor(model => model.Statistics.Airline.Description)</span></li>
                            </ul>
                        </div>
                        <div class="col-sm-2" style="padding-left: 0px;">
                            <button id="buttonRanking" type="button" class="btn btn btn-info" style="margin-top:10px; width:100px;">
                                <span class="glyphicon glyphicon-equalizer"></span> Ranking
                            </button>

                            <button id="show-ledger-button" type="button" class="btn btn-info" style="margin-top:10px; width:100px;">
                                <span class="glyphicon glyphicon-book"></span> Ledger
                            </button>
                            <img id="ledger-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />

                            <button id="show-fbo-button" type="button" class="btn btn-info" style="margin-top:10px; width:100px;">
                                <span class="glyphicon glyphicon-shopping-cart"></span> FBO
                            </button>
                            <img id="fbo-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                            
                            <div class="modal" id="myModalLedger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document" style="width:auto; height:auto;">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding-bottom:0px;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                            <h2 class="modal-title">
                                                <img src="@Model.Statistics.Airline.Logo" style="width:50px; height:50px; margin-right:5px" />
                                                @Model.Statistics.Airline.Name ledger
                                            </h2>
                                        </div>
                                        <div class="modal-body" height:auto;">
                                            <div id="ledger-content"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="row" style="padding-right:10px;">
                                                <div class="col-sm-1">
                                                    <input id="ledger-departure-filter" placeholder="Departure" class="form-control input-sm text-uppercase" maxlength="4" type="text" />
                                                </div>
                                                <div class="col-sm-1">
                                                    <input id="ledger-arrival-filter" placeholder="Arrival" class="form-control input-sm text-uppercase" maxlength="4" type="text" />
                                                </div>
                                                <div class="col-sm-1">
                                                    <button id="filter-ledger-button" type="button" class="btn btn-default btn-sm pull-left">Filter</button>
                                                </div>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="modal" id="myModalFBO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document" style="width:auto; height:auto;">
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding-bottom:0px;">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h2 class="modal-title">
                                                Fixed-Base Operator to hire
                                            </h2>
                                        </div>
                                        <div class="modal-body" height:auto;">
                                            <div id="fbo-content"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="row" style="padding-right:10px;">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row" style="height:170px; background-color:dimgray;margin:inherit;">
                        @if (Model.Statistics.Airline != null && Model.Statistics.Airline.DebtValue > 0)
                        {
                            <div class="pull-right" style="padding:7px;">
                                <div class="row">
                                    @if (Model.Statistics.Airline.DebtMaturityDate < DateTime.Now)
                                    {
                                            <div class="col-md-1"><img src="~/Content/img/Alert001.gif" style="width:30px; height:30px;" /></div>
                                            <div class="col-sm-5" style="padding:0px;"> <h4 style="color:tomato; margin-left:5px;">This airline has overdue bills to pay. </h4></div>
                                    }
                                    else
                                    {
                                        <div class="col-md-1"><img src="~/Content/img/barcode.png" style="width:30px; height:30px;" /></div>
                                        <div class="col-sm-5" style="padding:0px;" ><h4 style="color:tomato; margin-left:5px;">This airline has bills to pay. </h4></div>
                                    }
                                    <div class="col-md-6">
                                        <ul style="color:white;">
                                            <li><strong>Debt value: </strong> @string.Format("{0:C}", Model.Statistics.Airline.DebtValue)</li>
                                            <li><strong>Debt maturity date: </strong> @Model.Statistics.Airline.DebtMaturityDate.ToShortDateString()</li>
                                        </ul>
                                    </div>
                                </div>

                                <div style="text-align:justify; color:white; padding:8px;">
                                    <h5>Fees, taxes and charges are generated with the Jobs. If you are the owner, pay your bills before the due date. 
                                    Otherwise, this airline will not score, and the Jobs will generate more debts which could lead to the bankruptcy of the company.</h5>
                                </div>
                                @if (Model.Statistics.Airline.AlowEdit)
                                {
                                    <input id="pay-debts-button" type="button" value="Pay" onclick="location.href='@Url.Action("PayDebt", "Profile", new { id = Model.Statistics.Airline.Id })'" class="btn btn-danger pull-right btn-sm" style="margin-top:5px" />

                                }
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-12" style="text-align:justify; color:white; padding:8px;">
                                <h5><strong>@Model.Statistics.Airline.Name don't have any bills to pay. The balance of the company is healthy.</strong></h5>
                                <hr />
                                <h5>Fees, taxes and charges are generated with the Jobs. </h5>
                                <h5>If the owner does not pay bills before the due date the airline will not score, and the Jobs will generate more debts which could lead to the bankruptcy of the company.</h5>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="row text-left" style="background-color:white; min-height:270px; margin:inherit; padding:50px;">
                        <ul class="myList">
                            <li><b>@Html.DisplayNameFor(model => model.Statistics.Airline):</b> Unemployed </li>
                            <li> You don't have any airline info. Try to sign a contract or buy an Airline.</li>
                       </ul>
                   </div>
                }
            </div>
       </div>
    </div>
}
<hr />

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 50%;">
            @using (Html.BeginForm("SearchProfile", "Profile", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Profile filter</h4>
                </div>

                <div class="modal-body" style="height:170px">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.DepartureFilter, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.DepartureFilter, new { htmlAttributes = new { @class = "form-control uppercase", @maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.DepartureFilter, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6">
                                @Html.LabelFor(model => model.ArrivalFilter, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ArrivalFilter, new { htmlAttributes = new { @class = "form-control uppercase", @maxlength = "4" } })
                                @Html.ValidationMessageFor(model => model.ArrivalFilter, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.ModelDescriptionFilter, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.ModelDescriptionFilter, new { htmlAttributes = new { @class = "form-control uppercase", @maxlength = "20" } })
                                @Html.ValidationMessageFor(model => model.ModelDescriptionFilter, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <span class="pull-left">@Html.ActionLink("Remove filter", "RemoveFilter")</span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn btn-info" value="SearchProfile">Apply</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal" id="myModalChart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Payment/Month Chart</h4>
                </div>
                <div class="modal-body" >
                    <div id="chart-content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>




<div class="modal" id="myModalRanking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 100%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Airlines ranking</h4>
            </div>
            <div class="modal-body">
                <div id="ranking-content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:auto; height:auto; margin:150px;">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h2 class="modal-title">
                    Job vídeo
                </h2>
            </div>
            <div class="modal-body" height:auto;">
                <div id="video-content"></div>
            </div>
        </div>
    </div>
</div>


<script>
$("#avatar-1").fileinput({
    overwriteInitial: true,
    maxFileSize: 60,
    showClose: false,
    showCaption: true,
    browseOnZoneClick: true,
    showBrowse: false,
    preferIconicZoomPreview: false,
    browseLabel: '',
    removeLabel: '',
    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors-1',
    msgErrorClass: 'alert alert-block alert-danger',

    defaultPreviewContent: '<img src="@if (@Model.Statistics != null) { @Model.Statistics.Logo }" alt="Your Avatar" style="width:140px;"><h6 class="text-muted">Click to select</h6>',
    layoutTemplates: { main2: '{preview} {remove} ' },
    language: 'eN',
    uploadUrl: '/Profile/Upload',
    allowedFileExtensions: ["jpg", "png", "gif"],
    maxFileCount: 1
    });


$('#buttonChart').click(function () {
    $.ajax({
        url: '@Url.Action("ChartProfile", "Profile")',
        type: "Get",
        data: '',
        success: function (result) {
            if (result != null) {
                $('#myModalChart').modal('show');
                $("#chart-content").html(result);
            }
        }
    });
    return true;
    });


    $('#buttonTransfer').click(function () {
        $('#buttonTransfer').popover('hide');
    $.ajax({
        url: '@Url.Action("PilotTransferProfile", "Profile")',
        type: "Get",
        data: '',
        success: function (result) {
            $('#buttonTransfer').popover('hide');
            if (result != null) {
                $('#myModalTransfer').modal('show');
                $("#transfer-content").html(result);
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.log("Erro:" + errorThrown);
            $('#buttonTransfer').attr("data-content", errorThrown);
            $('#buttonTransfer').popover('show');
        }
    });
    return true;
    });

$('#buttonLicense').click(function () {
    $('#license-loading-img').show();
    $.ajax({
        url: '@Url.Action("PilotLicenseProfile", "Profile")',
        type: "Get",
        data: '',
        success: function (result) {
            if (result != null) {
                $('#myModalLicense').modal('show');
                $("#license-content").html(result);
                $('#license-loading-img').hide();
            }
        }
    });
    return true;
});

$('#buttonRanking').click(function () {
    $.ajax({
        url: '@Url.Action("RankingProfile", "Profile")',
        type: "Get",
        data: '',
        success: function (result) {
            if (result != null) {
                $('#myModalRanking').modal('show');
                $("#ranking-content").html(result);
            }
        }
    });
    return true;
});

$('#show-fbo-button').click(function () {
    $('#fbo-loading-img').show();
    $.ajax({
        url: '@Url.Action("FboProfile", "Profile")',
        type: "Get",
        data: { airlineId: @( Model.Statistics != null && Model.Statistics.Airline != null ? Model.Statistics.Airline.Id : 0 )  },
        success: function (result) {
            if (result != null) {
                $('#myModalFBO').modal('show');
                $("#fbo-content").html(result);
                $('#fbo-loading-img').hide();
            }
        }
    });
    return true;
});

$('#show-ledger-button').click(function () {
    $('#ledger-loading-img').show();
    $.ajax({
        url: '@Url.Action("LedgerProfile", "Profile")',
        type: "Get",
        data: { airlineId: @( Model.Statistics != null && Model.Statistics.Airline != null ? Model.Statistics.Airline.Id : 0 )  },
        success: function (result) {
            if (result != null) {
                $('#myModalLedger').modal('show');
                $("#ledger-content").html(result);
                $('#ledger-loading-img').hide();
            }
        }
    });
    return true;
});



$('.show-video-button').click(function (e) {
    e.preventDefault();
    var model = {
        jobId: $(this).data("id")
    }

    $.ajax({
        url: '@Url.Action("JobVideo", "Profile")',
        type: "Get",
        data: model,
        success: function (result) {
            if (result != null) {
                $('#myModalVideo').modal('show');
                $("#video-content").html(result);
            }
        }
    });
    return true;
});

$('#filter-ledger-button').click(function () {
    $.ajax({
        url: '@Url.Action("FilterLedger", "Profile")',
        type: "Get",
        data: {
            airlineId: @( Model.Statistics != null && Model.Statistics.Airline != null ? Model.Statistics.Airline.Id : 0 )  ,
            departure: $('#ledger-departure-filter').val(),
            arrival: $('#ledger-arrival-filter').val()
        },
        success: function (result) {
            if (result != null) {
                $("#ledger-content").html(result);
            }
        }
    });
    return true;
});

$('#Statistics_SendLicenseWarning').change(function () {
    $.ajax({
        url: '@Url.Action("OnChangeSendLicenseWarning", "Profile")',
        type: "Get",
        data: {
            cked: $(this).is(':checked')
        }
    });
    return true;
});

$(function () {
    $('[data-toggle="tooltip"]').tooltip()
    });



</script>
@section Scripts{
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.js"></script>
}