@using PagedList;
@using PagedList.Mvc;

@model FlightJobs.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
        
    }

    .kv-avatar {
        display: inline-block;
        
    }

        .kv-avatar .file-input {
            display: table-cell;
            width: 110px;
            
        }

    .kv-reqd {
        color: red;
        font-family: monospace;
        font-weight: normal;
    }
</style>

<div style="width:100%; ">
    <img src="~/Content/img/logbook0001.jpg" style="width:99.8%" />
</div>

    @if (Model.Statistics != null)
    {
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="panel panel-default panel-title" style="padding:10px; height:300px">
                    @using (Html.BeginForm("Upload", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="kv-avatar">
                            <div class="file-loading">
                                <input id="avatar-1" name="FilesInput" type="file" required>
                                
                            </div>
                        </div>
                        
                        <div id="kv-avatar-errors-1" class="center-block" style="font-size:8pt; width:400px;display:none"></div>
                    }
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default panel-title" style="padding:10px; height:300px">
                    @*<img class="pull-right" src="@Model.Statistics.Logo" style="width:100px; height:110px; " />*@

                    <ul style="font-size:small; list-style-type: none;">
                        <li><b>@Html.DisplayNameFor(model => model.Statistics.BankBalance):</b> @Html.DisplayFor(model => model.Statistics.BankBalance)</li>
                        <li><b>@Html.DisplayNameFor(model => model.Statistics.PilotScore):</b> @Html.DisplayFor(model => model.Statistics.PilotScore)</li>
                        @if (Model.Statistics.Airline != null)
                        {
                            <li><b>@Html.DisplayNameFor(model => model.Statistics.Airline):</b> @Html.DisplayFor(model => model.Statistics.Airline.Name)</li>
                            <li><img class="pull-right" src="@Model.Statistics.Airline.Logo" style="width:110px; height:110px; margin-top:-60px; margin-right:10px" /></li>
                        }
                        else
                        {
                            <li>
                                <b>@Html.DisplayNameFor(model => model.Statistics.Airline):</b> Unemployed
                            </li>
                        }

                        <li>
                            <b>@Html.DisplayNameFor(model => model.Statistics.FlightTimeTotal):</b> @Html.DisplayFor(model => model.Statistics.FlightTimeTotal)
                        </li>
                        <li>
                            <b>@Html.DisplayNameFor(model => model.Statistics.NumberFlights):</b> @Html.DisplayFor(model => model.Statistics.NumberFlights)
                        </li>
                        <li>
                            <b>@Html.DisplayNameFor(model => model.Statistics.PayloadTotal):</b> @Html.DisplayFor(model => model.Statistics.PayloadTotal) Kg
                        </li>
                        <li>
                            <b>@Html.DisplayNameFor(model => model.Statistics.LastFlight):</b> @Html.DisplayFor(model => model.Statistics.LastFlight)
                        </li>
                        <li>
                            <b>@Html.DisplayNameFor(model => model.Statistics.LastAircraft):</b> @Html.DisplayFor(model => model.Statistics.LastAircraft)
                        </li>
                        <li>
                            <b>@Html.DisplayNameFor(model => model.Statistics.FavoriteAirplane):</b> @Html.DisplayFor(model => model.Statistics.FavoriteAirplane)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }

    <div class="panel panel-default text-center">
        <p><b>PILOT LOGBOOK</b></p>
        <table class="table table-striped table-bordered table-hover" style="font-size: 10px; padding:0px">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().DepartureICAO)/Time
                </th>
                <th>Arrival/Time</th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().ModelDescription)/
                    @Html.DisplayNameFor(model => model.Jobs.First().ModelName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Dist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Pax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Cargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Payload)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Pay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().FlightTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().UsedFuelWeight)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Jobs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureICAO) 
                        @item.StartTime.ToString("(HH:mm)")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalICAO)
                        @item.EndTime.ToString("(HH:mm)")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModelDescription) -
                        @Html.DisplayFor(modelItem => item.ModelName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dist) nm
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo) Kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payload) Kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsedFuelWeight)
                    </td>
                    <td style="text-align:center;"><a data-toggle="confirmation" data-title="Remove Job?" href="Profile/Delete/@item.Id"><i class="glyphicon glyphicon-remove"></i></a></td>
                </tr>
            }

        </table>
    </div>
    @Html.PagedListPager(Model.Jobs, pageNumber => Url.Action("Index", new { pageNumber }))



<script>
$("#avatar-1").fileinput({
    overwriteInitial: true,
    maxFileSize: 60,
    showClose: false,
    showCaption: true,
    browseOnZoneClick: true,
    showBrowse: false,
    preferIconicZoomPreview: false,
    browseLabel: '',
    removeLabel: '',
    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors-1',
    msgErrorClass: 'alert alert-block alert-danger',
    defaultPreviewContent: '<img src="@Model.Statistics.Logo" alt="Your Avatar" style="width:140px;"><h6 class="text-muted">Click to select</h6>',
    layoutTemplates: { main2: '{preview} {remove} ' },
    language: 'eN',
    uploadUrl: '/Profile/Upload',
    allowedFileExtensions: ["jpg", "png", "gif"],
    maxFileCount: 1
});
</script>