@using PagedList;

@using PagedList.Mvc;
@using FlightJobs.Models;

@model FlightJobs.Models.HomeViewModel


<style>
    .pagination {
        margin: 0px;
    }
    .panel {
        font-size:13pt;
    }
    .job-line {
        height: 120px;
        background-color: dimgray;
        text-align: center;
        margin: inherit;
        border-radius: 9px;
        padding-left: 5px;
        border: 1px solid #D1D3D4;
        cursor:pointer;
    }
    .job-line:hover {
        border: 2px solid #5bc0de;
    }
    .job-line-activated {
        height: 120px;
        background-color: #5bc0de;
        text-align: center;
        margin: inherit;
        border-radius: 9px;
        padding-left: 5px;
        border: 1px solid #696969;
        cursor: pointer;
    }
    .glyphicon {
        font-size: 50px;
        color: #fff;
    }
</style>

@*<div style="height:65px">
    <img class="pull-right" src="~/Content/img/FlightJobsWeekend.png" style="width:172px; height:68px;" />
</div>*@

<div>
    <hr />
    
    @if (Model.Jobs.Count == 0)
    {
        <p>
            <b>You don't have any jobs to activate. Click on 'Add Jobs' button below to growing your list of pending jobs. 
            After that don't forget to activate your job on this home page. If you have any doubt watch 
                <a href="https://youtu.be/zOAvb1jQaGY" target="_blank">
                    this video tutorial.
                </a> </b>
        </p>
        <div class="text-center">
            <img class="img-thumbnail" src="~/Content/img/HomeThum01.png" style="height:150px; padding:15px;" />
            <img class="img-thumbnail" src="~/Content/img/HomeThum02.png" style="height:150px; padding:15px;"/>
            <img class="img-thumbnail" src="~/Content/img/HomeThum03.png" style="height:150px; padding:15px;"/>
        </div>
    }
    else
    {
    <div style="margin-bottom:5px;  ">
        <p>
            <h3 style=" width:100%; text-align:center; color:dimgray"><b>Pending Jobs</b></h3>
        </p>
        <br />
        @foreach (var item in Model.Jobs)
        {
            var styleClass = (item.IsActivated) ? "job-line-activated" : "job-line";

            <div class="row @styleClass" onclick="location.href='@Url.Action("ActivateJob", "Home", new { jobId = item.Id })'">
                <div class="row">
                    <div class="col-xs-1" style="text-align:justify; color:white; padding-top:8px;">
                        <h3><strong>@item.DepartureICAO</strong></h3>
                    </div>
                    <div class="col-sm-1" style="padding-top:20px;padding-left:0px; padding-right:0px; width:auto;">
                        <img src="~/Content/img/airplane2.png" />
                    </div>
                    <div class="col-sm-1" style="text-align:justify; color:white; padding:8px;">
                        <h3><strong>@item.ArrivalICAO</strong></h3>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-2" style="text-align:right; color:white; margin-left:25px; ">
                        @item.Dist Nm
                    </div>
                    <div class="col-sm-1" style="text-align:center; color:gray; margin-left:10px; ">
                        <h3 style="margin-top:0px;"><strong>@item.AlternativeICAO</strong></h3>
                    </div>
                    <div class="col-sm-2" style="text-align:justify; color:white; margin-left:30px; margin-top:-40px; width:12%; padding-right:0px; padding-left:0px;">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="~/Content/img/passenger2.png" style="width:40px;" />
                            </div>
                            <div class="col-sm-5">
                                <h4><strong>@item.Pax</strong></h4><h5> Passengers</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="text-align:justify; width:19%; color:white; margin-top:-40px; padding-right:0px;">

                            <div class="col-sm-3">
                                <img src="~/Content/img/baggage.png" style="width:40px;padding-right:0px;" />
                            </div>
                            <div class="col-sm-9" style="margin-top:-55px; margin-left:60px;" >
                                <h5 style="margin-bottom:0px;"><strong>@item.Cargo Kg</strong></h5><h6 style="margin-top:0px;"> Cargo</h6>
                                <h5 style="margin-bottom:0px;"><strong>@item.Payload Kg</strong></h5><h6 style="margin-top:0px;"> Total payload</h6>
                            </div>

                    </div>
                    <div class="col-sm-2" style="text-align:justify; color:white; margin-top:-47px; padding-left:0px; width:20%;">
 
                            <div class="col-sm-5" style="padding-left:0px;">
                                <img src="~/Content/img/pilot2.png" style="width:40px; margin-left:5px;" />
                                <h6 style="margin-top:5px; margin-bottom:0px;"><strong>@string.Format("{0:C}", item.Pay)</strong></h6><h6 style="margin-top:0px;"> Payament</h6>
                            </div>
                            <div class="col-sm-7" style="margin-top:-12px; padding-left:0px; padding-right:0px;" >
                                <h5 style="margin-bottom:0px;"><strong>@item.User.UserName</strong></h5><h6 style="margin-top:0px;"> Pilot</h6>
                                
                                @if (TempData["PilotMessage"] != null)
                                {
                                    <h6 style="color:gold">@TempData["PilotMessage"]</h6>
                                }
                                else
                                {
                                   <h6>License is up to date</h6>
                                }
                            </div>

                    </div>
                    <div class="col-sm-1" style="text-align:center; color:white; margin-top:-50px; padding-left:20px;">
                        <div class="row">
                            @if (item.IsActivated)
                            {
                                <span class="glyphicon glyphicon-check"></span><h6>Activated</h6>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-hourglass"></span><h6>Click me</h6>
                            }
                        </div>
                    </div>
                    <div class="col-sm-1" style="text-align:right; color:white; margin-top:-20px; padding-left:0px;">
                        <a data-toggle="confirmation" data-title="Remove Job?" href="Home/DeleteJob/@item.Id"><i style="font-size: 20px;" class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
            </div>
        }

    </div>
    }

</div>

<button type="button" class="btn btn btn-info pull-right" onclick="location.href='@Url.Action("Index", "SearchJobs")'">
    <span style="font-size: 20px;" class="glyphicon glyphicon-plus"></span> Add jobs
</button>


@Html.PagedListPager(Model.Jobs, pageNumber => Url.Action("Index", new { pageNumber }))

<br />
