@using PagedList;

@using PagedList.Mvc;
@using FlightJobs.Models;

@model FlightJobs.Models.HomeViewModel

@Styles.Render("~/Content/challenge.css")

<style>
    .pagination {
        margin: 0px;
    }
    .panel {
        font-size:13pt;
    }
    .job-line {
        height: 40px;
        background-color: dimgray;
        color: white;
        text-align: center;
        margin: inherit;
        padding-left: 5px;
        border: 1px solid #D1D3D4;
        cursor: pointer;
        margin-bottom: 0px;
    }
    .job-line:hover {
        border: 2px solid #5bc0de;
    }
    .job-line-activated {
        height: 40px;
        background-color: #5bc0de;
        color: white;
        text-align: center;
        margin: inherit;
        margin-top: 0px;
        padding-left: 5px;
        border: 1px solid #696969;
        cursor: pointer;
        margin-bottom: 0px;
    }
    .pending-header {
        height: 20px;
        background-color: dimgrey;
        text-align: center;
        padding-left: 5px;
        color: white;
        width: 14%;
    }
    .pending-col {
        width: 14%;
        text-align: center;
        margin: inherit;
        padding-top: 8px;
        color: white;
        padding-left: 5px;
    }
    .glyphicon {
        font-size: 50px;
        color: #fff;
    }
    .carousel-indicators li {
        background-color: #999;
        background-color: rgba(70,70,70,.25);
    }

    .carousel-indicators .active {
        background-color: #444;
    }
    .notes-area {
        border: 2px solid #7ed6f0;
        padding: 0px !important;
        height: auto;
        margin: 5px 10px 10px 5px;
        width: 98.5%;
    }
    .box-area-header {
        padding: 4px;
        background-color: #5bc0de;
        color: white;
        margin: -1px -1px 0px -1px;
    }

    .dashboard-area {
        border: 2px solid #7ed6f0;
        padding: 0px !important;
        height: 350px;
        margin: 5px;
    }
    .card-user-info {
        color: #5bc0de;
        width: 140px;
        height: 130px;
        margin: 10px;
        padding: 5px;
        text-align: center;
    }

    .card-area {
        padding-left:0px;
    }

    .linked :hover {
        cursor: pointer;
        border: 1px solid #5bc0de;
        text-decoration: none;
    }

</style>


<div>
    <br />

    @if (Model.Statistics != null)
    {
        string cashTextColor = Model.Statistics.BankBalance < 0 ? "red" : "#5bc0de";


        <div class="col-sm-2" style="width:18%;">
            <h3 style=" width:100%; text-align:center; color:dimgray"><b>Pending Jobs</b></h3>
            <br />
            <div class="row" style="margin-left:inherit; margin-right:inherit;background-color: #696969;">
                <div class="col-sm-1 pending-header" style="width:100%;">
                    Departure - Arrival
                </div>
            </div>
            <div id="pending-job-content" style="margin-bottom:5px;  ">
                
                @if (Model.Jobs.Count > 0)
                {
                    @Html.Partial("PendingJobsView", Model.Jobs)
                }
                else
                {
                    <div class="job-line-activated" style="padding-top:5px;">You don't have any pending job</div>
                }
            </div>
            <br />
            <div class="text-center">
                <button type="button" class="btn btn btn-info" onclick="location.href='@Url.Action("Index", "SearchJobs")'">
                    <span style="font-size: 20px;" class="glyphicon glyphicon-plus"></span> Add jobs
                </button>
            </div>
            <!-- FSadwork -->
            <center>
                <br />
                <br />
                <hr />
                <div>
                    <img src="~/Content/img/FlightJobsLogo0002.png" style="width:70px;" />
                </div>
                <div class="text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick" />
                        <input type="hidden" name="hosted_button_id" value="44VG35XYRJUCW" />
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                        <img alt="" border="0" src="https://www.paypal.com/en_BR/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                    <br />
                    <img src="~/Content/img/QRCode.png" style="width:100px;" />
                </div>
            </center>
        </div>
        <div class="col-sm-7" style="width:61%; padding:0px;">
            <div class="row center-block">
                <div class="col-md-12 notes-area">
                    <div class="box-area-header">Current Job</div>
                    <div id="current-job-content">
                        @if (Model.Jobs.Any(x => x.IsActivated))
                        {
                            @Html.Partial("CurrentJobView", Model.Jobs.FirstOrDefault(x => x.IsActivated))
                        }
                        else
                        {
                            <div class="col-md-1" style="padding:20px;"><img src="~/Content/img/alert-002.png" style="height:20px;" /></div>
                            <div class="col-md-11" style="padding:20px;">
                                <b>
                                    You don't have any job active. 
                                </b>
                            </div>
                        }
                    </div>
                    <div id="loading-current-job-msg" style="text-align:center;font-size:x-large;display:none;">
                        <div>Please wait...</div>
                        <img src="/Content/img/loading.gif" style="width:50px;">
                    </div>
                </div>
                <br />
                <br />
                <br />

                <div class="col-md-7 dashboard-area">
                    <div class="box-area-header">Captain: @Model.Statistics.User.UserName</div>
                    @{ string btnTransferId = (Model.Statistics.Airline != null) ? "btnTransfer" : "btnNonTransfer"; }

                    <div id="@btnTransferId" class="col-lg-4 linked card-area">
                        <div class="card card-user-info">
                            <img style="width:80px;border:none;" src="~/Content/img/cash-001.png" />
                            <br />
                            <span style="font-size:medium;border:none;">Bank balance:</span>
                            <br />
                            <span style="border:none;color:@cashTextColor">
                                @string.Format("{0:C}", Model.Statistics.BankBalance)
                            </span>
                            <br />
                            <img id="transfer-balance-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                        </div>
                    </div>
                    <div class="col-lg-4 card-area">
                        <div class="card card-user-info">
                            <img style="width:80px;" src="~/Content/img/score-001.png" />
                            <br />
                            <span style="font-size:medium;">Score:</span>
                            <br />
                            <span>
                                @Model.Statistics.PilotScore point(s)
                            </span>
                        </div>
                    </div>
                    <div id="btnLicense" class="col-lg-4 linked card-area">
                        <div class="card card-user-info">
                            @if (TempData["PilotMessage"] != null)
                            {
                                <img style="width:80px;opacity: 0.5;border:none;" src="~/Content/img/license-001.png" /><br />
                                <h6 style="color:red; border:none;">@TempData["PilotMessage"]</h6>
                            }
                            else
                            {
                                <img style="width:80px; border:none;" src="~/Content/img/license-001.png" /><br />
                                <h6 style="border:none;">License is up to date</h6>
                            }
                            <img id="license-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                        </div>
                    </div>
                    <div class="col-lg-4 linked card-area">
                        <a href="@Url.Action("Index", "Profile")">
                            <div class="card card-user-info">
                                <img style="width:80px;border:none;" src="~/Content/img/time-001.png" />
                                <br />
                                <span style="font-size:medium;border:none;">Flight time:</span>
                                <br />
                                <span style="border:none;">
                                    @Model.Statistics.FlightTimeTotal
                                </span>
                            </div>
                        </a>
                    </div>
                    <div id="btnGraduation" class="col-lg-4 linked card-area">
                        <div class="card card-user-info">
                            <div class="row" style="border:0px;">
                                <img style="width:50px; height:80px; padding:4px; border:none;" src="@Model.Statistics.GraduationPath" />
                            </div>
                            <div class="row" style="border:0px;">
                                <span style="font-size:medium;border:none;">Graduation:</span>
                            </div>
                            <div class="row" style="border:0px;line-height: 10px;">
                                <span style="font-size:smaller;line-height: 12px;border:none;">@Model.Statistics.GraduationDesc</span>
                            </div>
                        </div>
                    </div>
                    <div id="btnFlightsInfo" class="col-lg-4 linked card-area">
                        <div class="card card-user-info">
                            <img style="width:80px; height:80px; padding:4px;border:none;" src="@Model.Statistics.Logo" />
                            <br />
                            <span style="font-size:medium;border:none;">Nº of Flights:</span>
                            <br />
                            <span style="border:none;">@Model.Statistics.NumberFlights</span><br />
                            <img id="flights-info-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-1"> </div>
                @if (Model.Statistics.Airline != null)
                {
                    string debtTextColor = Model.Statistics.Airline.DebtValue > 0 ? "red" : "#5bc0de";

                    <div class="col-md-4 dashboard-area" style="width:39%;">
                        <div class="box-area-header">Airline: @Model.Statistics.Airline.Name</div>
                        <div id="btnLedger" class="col-md-6 linked card-area">
                            <div class="card card-user-info">
                                <img style="width:80px; border:none;" src="~/Content/img/cash-001.png" /><br />
                                <span style="font-size:medium;border:none;">Bank balance:</span><br />
                                <div style="font-size:smaller;line-height: 12px;border:none;">
                                    @string.Format("{0:C}", @Model.Statistics.Airline.BankBalance)
                                </div>
                                <img id="ledger-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                            </div>
                        </div>
                        <div id="btnRanking" class="col-md-6 linked card-area">
                            <div class="card card-user-info">
                                <img style="width:80px;border:none;" src="~/Content/img/score-001.png" /><br />
                                <span style="font-size:medium;border:none;">Score:</span><br />
                                <span style="font-size:small;border:none;">@Model.Statistics.Airline.AirlineScore point(s)</span>
                            </div>
                        </div>
                        <div id="btnAirlineInfo" class="col-md-6 linked card-area">
                            <div class="card card-user-info">
                                <img style="width:80px;border:none;" src="~/Content/img/debt-001.png" /><br />
                                <span style="font-size:medium;border:none;">Debt:</span><br />
                                <span style="font-size:small;border:none; color:@debtTextColor">
                                    @string.Format("{0:C}", @Model.Statistics.Airline.DebtValue)
                                </span>
                                <br />
                                <img id="airline-info-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                            </div>
                        </div>
                        <div id="btnFBO" class="col-md-6 linked card-area">
                            <div class="card card-user-info">
                                <img style="width:80px;height:80px;padding:3px;border:none;" src="@Model.Statistics.Airline.Logo" />
                                <br />
                                <span style="font-size:smaller;line-height:11px;border:none;">Pilots hired: @Model.Statistics.AirlinePilotsHired.Count()</span>
                                <br />
                                <div style="font-size:smaller;line-height:12px;border:none;">FBO(s): @Model.Statistics.Airline.HiredFBOs.Count()</div><br />
                                <img id="fbo-loading-img" src="~/Content/img/loading.gif" style="width:20px; display:none;" />
                            </div>
                        </div>
                    </div>

                    <!-- AIRLINE MODALS-->

                    <div class="modal" id="myModalLedger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document" style="width:auto; height:auto;">
                            <div class="modal-content">
                                <div class="modal-header" style="padding-bottom:0px;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                                    <h2 class="modal-title">
                                        <img src="@Model.Statistics.Airline.Logo" style="width:50px; height:50px; margin-right:5px" />
                                        @Model.Statistics.Airline.Name ledger
                                    </h2>
                                </div>
                                <div class="modal-body" height:auto;">
                                    <div id="ledger-content"></div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row" style="padding-right:10px;">
                                        <div class="col-sm-1">
                                            <input id="ledger-departure-filter" placeholder="Departure" class="form-control input-sm text-uppercase" maxlength="4" type="text" />
                                        </div>
                                        <div class="col-sm-1">
                                            <input id="ledger-arrival-filter" placeholder="Arrival" class="form-control input-sm text-uppercase" maxlength="4" type="text" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button id="filter-ledger-button" type="button" class="btn btn-default btn-sm pull-left">Filter</button>
                                        </div>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="myModalAirlineInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="width: auto;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">@Model.Statistics.Airline.Name balance situation</h4>
                                </div>
                                <div id="airline-info-content"></div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-4 dashboard-area" style="width:39%;">
                        <div style="padding:4px; background-color:#5bc0de; color:white;">No airline</div>
                        <a href="@Url.Action("Index", "Airlines")">
                            <div class="col-lg-12 linked">
                                <div class="card card-user-info" style="width:200px;">
                                    <br />
                                    <span style="font-size:medium; border:none;">Sign a contract with an airline or buy your own company.</span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <br /><br /><hr />
            <br /><br /><br />
            <div class="row">
                <div>
                    <div style="background-color:#5bc0de; height:10px;"></div><br />
                    <strong class="text-center"> FEATURES:</strong>
                    <ul>
                        <li>Access your detailed Logbook anywhere through a website</li>
                        <li>
                            Start and finish your Flight Jobs in a friendly friendly Simulator connector
                            (The window will pop up when you set the parking brake to remind you to finish the flight job)
                        </li>
                        <li>Scores and bank balance</li>
                        <li>Payload your aircraft with a purpose. Learn more about carrying capacity of an aircraft</li>
                        <li>Plan your future flights on a list of pending flight jobs to choose from</li>
                        <li>
                            Pilot Statistics with relevant pieces of information from your flights like:
                            flight time, number of flights, payload carried, last flight date, last aircraft and favorite airplane
                        </li>
                        <li>A chart showing the last 6 months of your flights to evaluate your virtual money evolution per month</li>
                        <li>Airlines to sign a contract using your scores and virtual money</li>
                        <li>Aviation certificates with tests</li>
                        <li>Airliners ranking of higher scores. All the hired can help improve the classification</li>
                        <li>Create your own Airline when you have enough virtual money to buy</li>
                        <li>Pilot graduation.</li>
                        <li>Airline leadger with all flights data generated by the airline jobs. Fees, taxes and charges are generated with the jobs.</li>
                        <li>Pilot license requirements.</li>
                        <li>Destination and alternate tips.</li>
                        <li>Information about FlightJobs on Analysis page.</li>
                        <li>Ability to buy FBOs (Field Base of Operations)</li>
                        <li>Jobs more rentable for FBOs unlocked</li>
                        <li>Unique GA profit</li>
                        <li>Option to reset Connector plugin</li>
                        <li>Labels of weights in Kg and pounds</li>
                        <li>Add flight video Url for shared in Airline Ledger table</li>
                        <li>Transfer funds from personal account to the (group)Airline/Charter service account.</li>
                    </ul>
                </div>
            </div>

            <div align="center">
                <div class="separator"></div>
            </div>
            <br /><br />
            <h4 style="text-align:center;">
                @Html.ActionLink("Download the connector for", "Install", "Home")
            </h4>
            <img class="img-responsive center-block" src="~/Content/img/XPlane_11_logo.png" style="width:190px" />
            <br />
            <img class="img-responsive center-block" src="~/Content/img/msf-logo.png" style="width:190px" />

            <br />
            <br />
            <br />
            <br />

            <div class="text-center">
                <p>
                    <strong>This video tutorial will help to use the website and the plugin:</strong>
                </p>
                <p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/eKltTI4BVdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
                <p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zOAvb1jQaGY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </p>
                https://youtu.be/eKltTI4BVdc
            </div>
        </div>
        <div class="col-sm-1" style="width:21%;">
            <div class="col-md-12 notes-area">
                <div class="box-area-header">Notification(s)</div>

                @*<hr />
            <div class="col-md-1"><img src="~/Content/img/alert-002.png" style="width:30px; height:30px;" /></div>
            <div class="col-md-11" style="padding:0px;">
                <h2 style="color:red;">
                    <b>
                        The site will be offline for server maintenance at any time while this message is displayed. Please wait for some time to start your jobs. Thanks.
                    </b>
                </h2>
            </div>
            <br />*@

                <hr />
                <div class="row" style="margin-left:10px;">
                    <div class="col-md-12">
                        <div style="font-size:10pt; font-weight:bold; color:red;">New version available for the MS Flight Simulator Connector.</div>
                        <div style="font-size:10pt;font-weight:bold;">You can @Html.ActionLink("DOWNLOAD the connector ", "Install", "Home") now and test.</div>
                        <div style="font-size:10pt;">If you liked please make a donation. Cheers!</div>
                    </div>
                </div>
                <br />

                @if (Model.Jobs.Count == 0)
                {
                    <hr />
                    <div class="col-md-1"><img src="~/Content/img/alert-002.png" style="width:30px; height:30px;" /></div>
                    <div class="col-md-10" style="margin-left:10px;">
                        <b>
                            You don't have any pending job to activate. <a href="@Url.Action("Index", "SearchJobs")">Click on 'Add Jobs'</a> to growing your list of pending jobs.
                            <br />After that don't forget to activate your job.
                        </b>
                    </div>
                    <br />
                }
                @if (!string.IsNullOrEmpty(Model.PilotStatisticsDescription))
                {
                    <hr />
                    <a onclick="openLicenseModal()" href="#">
                        <div>@Html.Raw(Model.PilotStatisticsDescription) <br /><br /></div>
                    </a>
                }
                @if (Model.Statistics.Airline != null &&
                        Model.Statistics.Airline.DebtValue > 0 &&
                        Model.Statistics.Airline.DebtMaturityDate < DateTime.Now)
                {
                    <hr />
                    <div class="col-md-1"><img src="~/Content/img/alert-002.png" style="width:30px; height:30px;" /></div>
                    <div class="col-md-10" style="margin-left:10px;">
                        <a onclick="openAirlineInfoModal()" href="#">
                            <h5><strong>YOUR AIRLINE HAS BILLS TO PAY.</strong></h5>
                            <h5>
                                The airline will not score, and the Jobs will generate more debts which could lead to the bankruptcy of the company.
                            </h5>
                        </a>
                    </div>
                }
                @if (Model.Challenge != null)
                {
                    <a onclick="openChallengeBriefingModal()" href="#">
                        <br />
                        <hr />
                        <div class="col-md-1"><img src="~/Content/img/alert-002.png" style="width:30px; height:30px;" /></div>
                        <div class="col-md-10" style="margin-left:10px;">

                            <h5><strong>Challenge to complete by expiring on @Model.Challenge.ChallengeExpirationDate.ToShortDateString().</strong></h5>
                            <h5>
                                Do not waste time! Challenge is more rentable than a normal job and when you complete you and the creator will earn money.
                            </h5>
                        </div>
                        <div class="row" style="margin-left:10px;margin-right:10px;">
                            <div class="col-sm-1 pending-header" style="width:5%;">Type</div>
                            <div class="col-sm-1 pending-header" style="width:25%;">
                                Departure - Arrival
                            </div>

                            <div class="col-sm-1 pending-header">Distance</div>
                            <div class="col-sm-1 pending-header">Passengers</div>
                            <div class="col-sm-1 pending-header">Cargo</div>
                            <div class="col-sm-1 pending-header">Total payload</div>
                            <div class="col-sm-1 pending-header">Total payment</div>
                        </div>
                        @{ var styleClass = (Model.Challenge.IsActivated) ? "job-line-activated" : "job-line"; }
                        <div class="row @styleClass" style="margin-left:10px;margin-right:10px;">
                            <div class="col-sm-1" style="width:4%;">
                                @if (Model.Challenge.ChallengeType == FlightJobs.Enums.ChallengeTypeEnum.Civilian)
                                {
                                    <span class="glyphicon glyphicon-plane challenge-type-icon"></span>
                                }
                                else if (Model.Challenge.ChallengeType == FlightJobs.Enums.ChallengeTypeEnum.Military)
                                {
                                    <span class="glyphicon glyphicon-bullhorn challenge-type-icon"></span>
                                }
                                else if (Model.Challenge.ChallengeType == FlightJobs.Enums.ChallengeTypeEnum.Rescue)
                                {
                                    <span class="glyphicon glyphicon-fire challenge-type-icon"></span>
                                }
                            </div>
                            <div class="col-sm-1" style="text-align:justify; color:white; width:6%;">
                                <h4>@Model.Challenge.DepartureICAO</h4>
                            </div>
                            <div class="col-sm-1" style="padding-top:5px; width:auto;">
                                <img src="~/Content/img/airplane2.png" style="height:25px;" />
                            </div>
                            <div class="col-sm-1" style="text-align:justify; color:white; width:6%; padding-left:0px;">
                                <h4>@Model.Challenge.ArrivalICAO</h4>
                            </div>
                            <div class="col-sm-1 challenge-col">
                                <div class="row">@Model.Challenge.Dist Nm</div>
                            </div>
                            <div class="col-sm-1 challenge-col">
                                <div class="row">@Model.Challenge.Pax</div>
                            </div>
                            <div class="col-sm-1 challenge-col">
                                <div class="row">@Model.Challenge.Cargo @Model.Challenge.WeightUnit</div>
                            </div>
                            <div class="col-sm-1 challenge-col">
                                <div class="row">@Model.Challenge.PayloadDisplay @Model.Challenge.WeightUnit</div>
                            </div>
                            <div class="col-sm-1 challenge-col">
                                <div class="row"> @string.Format("{0:C}", Model.Challenge.Pay)</div>
                            </div>
                        </div>
                    </a>
                    <br />
                }

            </div>
            <div class="col-md-12 text-center">
                <br />
                <br />
                <hr />
                <a href="https://www.youtube.com/channel/UCBHN8OG2yilRq3SrxAGaIaw" target="_blank" data-toggle="tooltip" title="FlightJobs youtube channel">
                    <img src="~/Content/img/youtube.png" style="width:40px;" />
                </a>
                <a href="https://discordapp.com/invite/xmpAWz7" target="_blank" data-toggle="tooltip" title="FlightJobs at Discord">
                    <img src="~/Content/img/discordapp.png" style="width:40px;" />
                </a>
                <a href="https://fb.me/rhpa23" target="_blank" data-toggle="tooltip" title="FlightJobs at Facebook">
                    <img src="~/Content/img/fb.png" style="width:40px;" />
                </a>
            </div>
        </div>
        
        
        <!-- MODALs -->
        <div class="modal" id="myModalTransfer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Transfer pilot funds to Airline</h4>
                    </div>
                    <div id="transfer-content"></div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModalGraduation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 300px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pilot graduation</h4>
                    </div>
                    <div class="modal-body">
                        <div id="graduation-content"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModalFlightsInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 650px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pilot flights info</h4>
                    </div>
                    <div class="modal-body">
                        <div id="flights-info-content"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModalLicense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: auto;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pilot license expenses</h4>
                    </div>
                    <div class="modal-body">
                        <div id="license-content"></div>
                        <div class="form-group">
                            <div class="pull-right">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.Statistics.SendLicenseWarning)
                                    @Html.LabelFor(m => m.Statistics.SendLicenseWarning, new { style = "padding-left: 0px" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <strong>Your bank balance:</strong>
                            <span id="license-user-bank-balance" class="@(Model.Statistics.BankBalance < 0 ? "negativeBankBalance" : "")">@string.Format("{0:C}", Model.Statistics.BankBalance)</span>
                        </div>
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Index") + "'");" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModalFBO" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="width:auto; height:auto;">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom:0px;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title">
                            Fixed-Base Operator to hire
                        </h2>
                    </div>
                    <div class="modal-body" height:auto;">
                        <div id="fbo-content"></div>
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="padding-right:10px;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="myModalRanking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 100%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Airlines ranking</h4>
                    </div>
                    <div class="modal-body">
                        <div id="ranking-content"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }



</div>




<!-- Modal -->
<div class="modal fade" id="briefingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Challenge details</h4>
            </div>
            <div id="challenge-briefing"></div>
        </div>
    </div>
</div>



<hr />
<br />
<script>
    function openLicenseModal() {
        $('#license-loading-img').show();
        $.ajax({
            url: '@Url.Action("PilotLicenseProfile", "Profile")',
            type: "Get",
            data: '',
            success: function (result) {
                if (result != null) {
                    $('#myModalLicense').modal('show');
                    $("#license-content").html(result);
                    $('#license-loading-img').hide();
                }
            }
        });
        return true;
    }

    $('#btnFBO').click(function () {
        $('#fbo-loading-img').show();
        $.ajax({
            url: '@Url.Action("FboProfile", "Profile")',
            type: "Get",
            data: { airlineId: @( Model.Statistics != null && Model.Statistics.Airline != null ? Model.Statistics.Airline.Id : 0 )  },
            success: function (result) {
                if (result != null) {
                    $('#myModalFBO').modal('show');
                    $("#fbo-content").html(result);
                    $('#fbo-loading-img').hide();
                }
            }
        });
        return true;
    });

    $('#btnTransfer').click(function () {
        $('#transfer-balance-loading-img').show();
        $.ajax({
            url: '@Url.Action("PilotTransferProfile", "Profile")',
            type: "Get",
            data: '',
            success: function (result) {
                if (result != null) {
                    $('#myModalTransfer').modal('show');
                    $("#transfer-content").html(result);
                    $('#transfer-balance-loading-img').hide();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("Erro:" + errorThrown);
                $('#transfer-balance-loading-img').hide();
                $('#myModalTransfer').modal('show');
                $("#transfer-content").html('<h4 style="margin:20px;color:red;">' + errorThrown + '</h4>');
            }
        });
        return true;
    });

    $('#btnGraduation').click(function () {
        $.ajax({
            url: '@Url.Action("PilotGraduation", "Home")',
            type: "Get",
            data: '',
            success: function (result) {
                if (result != null) {
                    $('#myModalGraduation').modal('show');
                    $("#graduation-content").html(result);
                }
            }
            });
        return true;
    });

    $('#btnLicense').click(function () {
        openLicenseModal();
    });

    $('#btnFlightsInfo').click(function () {
        $('#flights-info-loading-img').show();
        $.ajax({
            url: '@Url.Action("FlightsInfo", "Home")',
            type: "Get",
            data: '',
            success: function (result) {
                if (result != null) {
                    $('#myModalFlightsInfo').modal('show');
                    $("#flights-info-content").html(result);
                    $('#flights-info-loading-img').hide();
                }
            }
            });
        return true;
    });

    $('#btnRanking').click(function () {
        $.ajax({
            url: '@Url.Action("RankingProfile", "Profile")',
            type: "Get",
            data: '',
            success: function (result) {
                if (result != null) {
                    $('#myModalRanking').modal('show');
                    $("#ranking-content").html(result);
                }
            }
        });
        return true;
    });

    $('#btnLedger').click(function () {
        $('#ledger-loading-img').show();
        $.ajax({
            url: '@Url.Action("LedgerProfile", "Profile")',
            type: "Get",
            data: { airlineId: @( Model.Statistics != null && Model.Statistics.Airline != null ? Model.Statistics.Airline.Id : 0 )  },
            success: function (result) {
                if (result != null) {
                    $('#myModalLedger').modal('show');
                    $("#ledger-content").html(result);
                    $('#ledger-loading-img').hide();
                }
            }
        });
        return true;
    });

    $('#filter-ledger-button').click(function () {
        $.ajax({
            url: '@Url.Action("FilterLedger", "Profile")',
            type: "Get",
            data: {
                airlineId: @( Model.Statistics != null && Model.Statistics.Airline != null ? Model.Statistics.Airline.Id : 0 )  ,
                departure: $('#ledger-departure-filter').val(),
                arrival: $('#ledger-arrival-filter').val()
            },
            success: function (result) {
                if (result != null) {
                    $("#ledger-content").html(result);
                }
            }
        });
        return true;
    });

    function openAirlineInfoModal() {
        $('#airline-info-loading-img').show();
        $.ajax({
            url: '@Url.Action("AirlineBalanceInfo", "Profile")',
            type: "Get",
            data: {
                airlineId: @( Model.Statistics != null && Model.Statistics.Airline != null ? Model.Statistics.Airline.Id : 0 )
            },
            success: function (result) {
                if (result != null) {
                    $('#myModalAirlineInfo').modal('show');
                    $("#airline-info-content").html(result);
                    $('#airline-info-loading-img').hide();
                }
            }
        });
        return true;
    }
    $('#btnAirlineInfo').click(function () {
        openAirlineInfoModal();
    });

    function openChallengeBriefingModal() {
        $.ajax({
            url: '@Url.Action("ShowChallengeDetails", "Challenge")',
            type: "Get",
            data: {
                jobId: @( Model.Challenge != null ? Model.Challenge.Id : 0 )
            },
            success: function (result) {
                if (result != null) {
                    $('#briefingModal').modal('show');
                    $("#challenge-briefing").html(result);
                }
            }
        });
        return true;
    }

    $("#Statistics_SendLicenseWarning").change(function () {
        var isCheck = $('#Statistics_SendLicenseWarning').prop('checked');

        $.ajax({
            url: '@Url.Action("OnChangeSendLicenseWarning", "Profile")',
            type: "Get",
            data: {
                cked: isCheck
            }
        });
    });


</script>