@using PagedList;

@using PagedList.Mvc;
@using FlightJobs.Models;

@model FlightJobs.Models.HomeViewModel

<div class="jumbotron">
    <h1>Your pedding jobs...</h1>
    <p class="lead">First active one job to do and after start your flight in JobFlight X-Plane plugin.</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().IsActivated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().DepartureICAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().ArrivalICAO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().Dist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().Payload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobs.First().Pay)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Jobs)
        {
            var style = (item.IsActivated) ? "font-weight:bold" : "";

            <tr style="@style">
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsActivated, new { @disabled = "disabled" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureICAO, new { @class = "control-label col-md-6" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalICAO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dist) NM
                </td>

                @if (item.Pax > 0)
                {
                    <td> @Html.DisplayFor(modelItem => item.Pax) Pax </td>
                }
                else
                {
                    <td> @Html.DisplayFor(modelItem => item.Cargo) Kg (Cargo)  </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Payload) Kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pay)
                </td>
                <td>
                    @Html.ActionLink("Activate", "ActivateJob", new { jobId = item.Id  })
                </td>
            </tr>
        }

    </table>
@Html.PagedListPager(Model.Jobs, pageNumber => Url.Action("Index", new
{
    pageNumber
}))

    <p>@Html.ActionLink("Add job", "Index", "SearchJobs", new object { }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

@if (Model.Statistics != null)
{
    <div class="row">
        <div class="col-md-4">
            <h2>Personal progress</h2>
            <p>
                <div>
                    @Html.DisplayNameFor(model => model.Statistics.BankBalance) :
                    @Model.Statistics.BankBalance
                </div>
                <div>
                    @Html.DisplayNameFor(model => model.Statistics.PilotScore) :
                    @Model.Statistics.PilotScore
                </div>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Flights...</h2>
            <div>
                @Html.DisplayNameFor(model => model.Statistics.MilesFlown) :
                @Model.Statistics.MilesFlown NM
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Statistics.MinutesFlown) :
                @Model.Statistics.MinutesFlown H(s)
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Statistics.NumberFlights) :
                @Model.Statistics.NumberFlights
            </div>
            <div>
                @Html.DisplayNameFor(model => model.Statistics.LastFlight) :
                @Html.ValueFor(model => model.Statistics.LastFlight, "{0:MM-dd-yyyy}")
            </div>
        </div>
    </div>
}