@using PagedList;

@using PagedList.Mvc;
@using FlightJobs.Models;

@model FlightJobs.Models.HomeViewModel


<style>
    .pagination {
        margin: 0px;
    }
    .panel {
        font-size:13pt;
    }
</style>


<div>
    <hr />
    <div class="panel panel-default text-center" style="margin-bottom:5px">
        <p>
            <b>Your pedding jobs...</b>
        </p>
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().IsActivated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().DepartureICAO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().ArrivalICAO)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Dist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Pax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Cargo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Payload)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jobs.First().Pay)
                </th>
                <th></th>
                <th></th>
            </tr>


            @foreach (var item in Model.Jobs)
            {
                var style = (item.IsActivated) ? "font-weight:bold" : "";

                <tr style="@style">
                    <td>
                        @Html.CheckBoxFor(modelItem => item.IsActivated, new { @disabled = "disabled" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartureICAO, new { @class = "control-label col-md-6" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalICAO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dist) NM
                    </td>
                    <td> @Html.DisplayFor(modelItem => item.Pax) </td>
                    <td> @Html.DisplayFor(modelItem => item.Cargo) Kg </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payload) Kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pay)
                    </td>
                    <td style="text-align:center;">
                        <a data-toggle="confirmation"  data-title="Remove Job?" href="Home/DeleteJob/@item.Id"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                    <td>
                        @Html.ActionLink("Activate", "ActivateJob", new { jobId = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

<button type="button" class="btn btn btn-info pull-right" onclick="location.href='@Url.Action("Index", "SearchJobs")'">
    <span class="glyphicon glyphicon-plus"></span> Add jobs
</button>

@Html.PagedListPager(Model.Jobs, pageNumber => Url.Action("Index", new { pageNumber }))

