@using FlightJobs.Models;


<style>
    .glyphicon {
        font-size: 20px;
    }
</style>

   
@foreach (var item in Model)
{
    var styleClass = (item.IsActivated) ? "job-line-activated" : "job-line";
    var lineTootip = (item.IsActivated) ? "Activated" : "Click to activate";

    <div class="row @styleClass">
        <div data-toggle="tooltip" data-placement="right" title="@lineTootip" onclick="activateJob(@item.Id)">
            <div class="col-sm-4" style="color:white; padding:8px 0px 0px 0px;">
                <strong>@item.DepartureICAO</strong>
            </div>
            <div class="col-sm-4" style="padding-top:5px;padding-left:0px; padding-right:0px;">
                <img src="~/Content/img/airplane2.png" style="width:80px;" />
            </div>
            <div class="col-sm-4" style="color:white; padding:8px 0px 0px 0px;" title="Alternative: @item.AlternativeICAO">
                <strong>@item.ArrivalICAO</strong>
            </div>
        </div>
    </div>
}

<script>
    function activateJob(jobID) {
        $("#current-job-body").fadeOut(500);
        $("#loading-current-job-msg").show();

        $.ajax({
            url: '@Url.Action("ActivateJob", "Home")',
            type: "Get",
            data: { jobId: jobID },
            success: function (result) {
                if (result != null) {
                    $("#pending-job-content").html(result);
                    loadCurrentJob();
                }
            }
        });

        return true;
    }

    function loadCurrentJob() {
        $.ajax({
            url: '@Url.Action("GetCurrentJob", "Home")',
            type: "Get",
            success: function (result) {
                if (result != null) {
                    $("#current-job-content").html(result).hide().fadeIn(1000);
                }
                $("#loading-current-job-msg").hide();
            }
        });
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>


